In [1]:
from pyspark.sql import SparkSession,Row
from pyspark.sql import functions as F 
from pyspark.ml import feature as MF
from pyspark.ml.stat import Correlation

spark = SparkSession.builder \
    .appName("etl_project") \
    .config("spark.executor.cores", "2") \
    .config("spark.executor.memory", "4g") \
    .config("spark.driver.memory", "2g") \
    .config("spark.sql.shuffle.partitions", "4") \
    .getOrCreate()

spark.sparkContext.setLogLevel("WARN")

In [2]:
# spark.stop()

In [3]:
df_train = spark.read.csv('train.csv',header=True,inferSchema=True)
# df_test = spark.read.csv('test.csv',header=True,inferSchema=True)
# sample_sub = spark.read.csv('sample_submission.csv',header=True,inferSchema=True)

In [4]:
display("Display First Few Rows of Training Data", df_train.head())
# display("Display First Few Rows of Testing Data", df_test.head())
# display("Display First Few Rows of Sample Submission", sample_sub.head())

'Display First Few Rows of Training Data'

Row(id=0, Age=19.0, Gender='Female', Annual Income=10049.0, Marital Status='Married', Number of Dependents=1.0, Education Level="Bachelor's", Occupation='Self-Employed', Health Score=22.59876067181393, Location='Urban', Policy Type='Premium', Previous Claims=2.0, Vehicle Age=17.0, Credit Score=372.0, Insurance Duration=5.0, Policy Start Date=datetime.datetime(2023, 12, 23, 15, 21, 39, 134960), Customer Feedback='Poor', Smoking Status='No', Exercise Frequency='Weekly', Property Type='House', Premium Amount=2869.0)

In [5]:
print("Summary of the Training Data")
df_train.describe().show()

Summary of the Training Data

+-------+-----------------+------------------+-------+-----------------+--------------+--------------------+---------------+----------+------------------+--------+-----------+------------------+-----------------+-----------------+------------------+-----------------+--------------+------------------+-------------+------------------+
|summary|               id|               Age| Gender|    Annual Income|Marital Status|Number of Dependents|Education Level|Occupation|      Health Score|Location|Policy Type|   Previous Claims|      Vehicle Age|     Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|    Premium Amount|
+-------+-----------------+------------------+-------+-----------------+--------------+--------------------+---------------+----------+------------------+--------+-----------+------------------+-----------------+-----------------+------------------+-----------------+--------------+------------------+-------------+------------------+
|  count|          1200000|           1181295|1200000|          1155051|       1181471|             1090328|        1200000|    841925|           1125924| 1200000|    1200000|            835971|          1199994|          1062118|           1199999|          1122176|       1200000|           1200000|      1200000|           1200000|
|   mean|         599999.5|41.145563131986506|   NULL|32745.21777653108|          NULL|  2.0099337080218063|           NULL|      NULL| 25.61390769251917|    NULL|       NULL| 1.002689088497089|9.569888682776748|592.9243502134415| 5.018219181849318|             NULL|          NULL|              NULL|         NULL|1102.5448216666666|
| stddev|346410.3058513127|13.539949792477247|   NULL|32179.50612417942|          NULL|  1.4173377664726148|           NULL|      NULL|12.203461881250199|    NULL|       NULL|0.9828401709548069|5.776188677537853|149.9819452922619| 2.594331342102338|             NULL|          NULL|              NULL|         NULL| 864.9988587527372|
|    min|                0|              18.0| Female|              1.0|      Divorced|                 0.0|     Bachelor's|  Employed|2.0122371818911766|   Rural|      Basic|               0.0|              0.0|            300.0|               1.0|          Average|            No|             Daily|    Apartment|              20.0|
|    max|          1199999|              64.0|   Male|         149997.0|        Single|                 4.0|            PhD|Unemployed| 58.97591405405534|   Urban|    Premium|               9.0|             19.0|            849.0|               9.0|             Poor|           Yes|            Weekly|        House|            4999.0|
+-------+-----------------+------------------+-------+-----------------+--------------+--------------------+---------------+----------+------------------+--------+-----------+------------------+-----------------+-----------------+------------------+-----------------+--------------+------------------+-------------+------------------+

In [6]:
# print("Missing values of Training Data:\n", df_train.isnull().sum()/len(df_train)*100)  #pandas
from pyspark.sql.functions import col, sum

print("Missing values of Training Data (%):")
df_train.select(
    [(sum(col(c).isNull().cast("int")) / df_train.count() * 100).alias(c) for c in df_train.columns]
).show()

Missing values of Training Data (%):
+---+-------+------+------------------+------------------+--------------------+---------------+------------------+------------+--------+-----------+---------------+-----------+------------------+--------------------+-----------------+-----------------+--------------+------------------+-------------+--------------+
| id|    Age|Gender|     Annual Income|    Marital Status|Number of Dependents|Education Level|        Occupation|Health Score|Location|Policy Type|Previous Claims|Vehicle Age|      Credit Score|  Insurance Duration|Policy Start Date|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+-------+------+------------------+------------------+--------------------+---------------+------------------+------------+--------+-----------+---------------+-----------+------------------+--------------------+-----------------+-----------------+--------------+------------------+-------------+--------------+
|0.0|1.55875|   0.0|3.7457499999999997|1.5440833333333335|   9.139333333333333|            0.0|29.839583333333337|       6.173|     0.0|        0.0|       30.33575|     5.0E-4|11.490166666666667|8.333333333333333E-5|              0.0|6.485333333333333|           0.0|               0.0|          0.0|           0.0|
+---+-------+------+------------------+------------------+--------------------+---------------+------------------+------------+--------+-----------+---------------+-----------+------------------+--------------------+-----------------+-----------------+--------------+------------------+-------------+--------------+

In [7]:
df_train.show(8)

+---+----+------+-------------+--------------+--------------------+---------------+-------------+------------------+--------+-------------+---------------+-----------+------------+------------------+--------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|   Occupation|      Health Score|Location|  Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|   Policy Start Date|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+-------------+------------------+--------+-------------+---------------+-----------+------------+------------------+--------------------+-----------------+--------------+------------------+-------------+--------------+
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|Self-Employed| 22.59876067181393|   Urban|      Premium|            2.0|       17.0|       372.0|               5.0|2023-12-23 15:21:...|             Poor|            No|            Weekly|        House|        2869.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|         NULL|15.569730989408043|   Rural|Comprehensive|            1.0|       12.0|       694.0|               2.0|2023-06-12 15:21:...|          Average|           Yes|           Monthly|        House|        1483.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|Self-Employed| 47.17754928786464|Suburban|      Premium|            1.0|       14.0|        NULL|               3.0|2023-09-30 15:21:...|             Good|           Yes|            Weekly|        House|         567.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|         NULL|10.938144158664583|   Rural|        Basic|            1.0|        0.0|       367.0|               1.0|2024-06-12 15:21:...|             Poor|           Yes|             Daily|    Apartment|         765.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|Self-Employed|20.376093627736925|   Rural|      Premium|            0.0|        8.0|       598.0|               4.0|2021-12-01 15:21:...|             Poor|           Yes|            Weekly|        House|        2022.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|         NULL| 33.05319768402281|   Urban|      Premium|            2.0|        4.0|       614.0|               5.0|2022-05-20 15:21:...|          Average|            No|            Weekly|        House|        3202.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|         NULL|              NULL|   Rural|        Basic|            2.0|        8.0|       807.0|               6.0|2020-02-21 15:21:...|             Poor|            No|            Weekly|        House|         439.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|     Employed| 5.769783092512088|Suburban|Comprehensive|            1.0|       11.0|       398.0|               5.0|2022-08-08 15:21:...|          Average|            No|            Rarely|        Condo|         111.0|
+---+----+------+-------------+--------------+--------------------+---------------+-------------+------------------+--------+-------------+---------------+-----------+------------+------------------+--------------------+-----------------+--------------+------------------+-------------+--------------+
only showing top 8 rows

In [8]:
df_train.dtypes

[('id', 'int'),
 ('Age', 'double'),
 ('Gender', 'string'),
 ('Annual Income', 'double'),
 ('Marital Status', 'string'),
 ('Number of Dependents', 'double'),
 ('Education Level', 'string'),
 ('Occupation', 'string'),
 ('Health Score', 'double'),
 ('Location', 'string'),
 ('Policy Type', 'string'),
 ('Previous Claims', 'double'),
 ('Vehicle Age', 'double'),
 ('Credit Score', 'double'),
 ('Insurance Duration', 'double'),
 ('Policy Start Date', 'timestamp'),
 ('Customer Feedback', 'string'),
 ('Smoking Status', 'string'),
 ('Exercise Frequency', 'string'),
 ('Property Type', 'string'),
 ('Premium Amount', 'double')]

In [9]:
from pyspark.sql import functions as F
# df_train.select('Credit Score').show()
df_train.select(F.min("Credit Score")).collect()[0][0]

300.0

# outliers

In [10]:
df_train.select("Credit Score").summary("min", "25%", "50%", "75%", "max").show()

+-------+------------+
|summary|Credit Score|
+-------+------------+
|    min|       300.0|
|    25%|       468.0|
|    50%|       595.0|
|    75%|       721.0|
|    max|       849.0|
+-------+------------+

In [11]:
df_train.describe()

DataFrame[summary: string, id: string, Age: string, Gender: string, Annual Income: string, Marital Status: string, Number of Dependents: string, Education Level: string, Occupation: string, Health Score: string, Location: string, Policy Type: string, Previous Claims: string, Vehicle Age: string, Credit Score: string, Insurance Duration: string, Customer Feedback: string, Smoking Status: string, Exercise Frequency: string, Property Type: string, Premium Amount: string]

#  main concerns about handling null

> keep the null and then string index it

> fill the null but how? 

> drop the null

In [12]:
from pyspark.sql.functions import  count

# column_names  = ['Gender',  'Marital Status']
column_names = ['Gender', 'Marital Status', 'Number of Dependents', 'Education Level', 'Occupation',  'Location', 'Policy Type', 'Previous Claims',   'Insurance Duration',  'Customer Feedback', 'Smoking Status', 'Exercise Frequency', 'Property Type']

# Count frequency of each value
for column in column_names:

    df_freq = df_train.groupBy(column).agg(count("*").alias("Frequency"))
    # print(f"{column}")
    df_freq.show()
    print("===================\n")

# Show result
# df_freq.show()

+------+---------+
|Gender|Frequency|
+------+---------+
|Female|   597429|
|  Male|   602571|
+------+---------+

===================

+--------------+---------+
|Marital Status|Frequency|
+--------------+---------+
|       Married|   394316|
|      Divorced|   391764|
|          NULL|    18529|
|        Single|   395391|
+--------------+---------+

===================

+--------------------+---------+
|Number of Dependents|Frequency|
+--------------------+---------+
|                 0.0|   218124|
|                 1.0|   215076|
|                 3.0|   221475|
|                 4.0|   220340|
|                NULL|   109672|
|                 2.0|   215313|
+--------------------+---------+

===================

+---------------+---------+
|Education Level|Frequency|
+---------------+---------+
|    High School|   289441|
|            PhD|   303507|
|       Master's|   303818|
|     Bachelor's|   303234|
+---------------+---------+

===================

+-------------+---------+
|   Occupation|Frequency|
+-------------+---------+
|     Employed|   282750|
|   Unemployed|   276530|
|         NULL|   358075|
|Self-Employed|   282645|
+-------------+---------+

===================

+--------+---------+
|Location|Frequency|
+--------+---------+
|   Urban|   397511|
|   Rural|   400947|
|Suburban|   401542|
+--------+---------+

===================

+-------------+---------+
|  Policy Type|Frequency|
+-------------+---------+
|      Premium|   401846|
|Comprehensive|   399600|
|        Basic|   398554|
+-------------+---------+

===================

+---------------+---------+
|Previous Claims|Frequency|
+---------------+---------+
|            6.0|      302|
|            7.0|       58|
|            0.0|   305433|
|            1.0|   300811|
|           NULL|   364029|
|            3.0|    49011|
|            4.0|    10668|
|            2.0|   167661|
|            5.0|     2018|
|            8.0|        8|
|            9.0|        1|
+---------------+---------+

===================

+------------------+---------+
|Insurance Duration|Frequency|
+------------------+---------+
|               6.0|   132141|
|               7.0|   133592|
|               3.0|   132018|
|               1.0|   135072|
|               4.0|   132182|
|               5.0|   132253|
|               2.0|   131160|
|               8.0|   133800|
|               9.0|   137781|
|              NULL|        1|
+------------------+---------+

===================

+-----------------+---------+
|Customer Feedback|Frequency|
+-----------------+---------+
|          Average|   377905|
|             Poor|   375518|
|             Good|   368753|
|             NULL|    77824|
+-----------------+---------+

===================

+--------------+---------+
|Smoking Status|Frequency|
+--------------+---------+
|            No|   598127|
|           Yes|   601873|
+--------------+---------+

===================

+------------------+---------+
|Exercise Frequency|Frequency|
+------------------+---------+
|            Weekly|   306179|
|             Daily|   294571|
|            Rarely|   299420|
|           Monthly|   299830|
+------------------+---------+

===================

+-------------+---------+
|Property Type|Frequency|
+-------------+---------+
|        House|   400349|
|    Apartment|   399978|
|        Condo|   399673|
+-------------+---------+

===================

In [13]:
# # Count occurrences of each unique string
# counts = df_train.groupBy("Gender").count()
# print(counts)

from pyspark.sql.functions import col, count
# Count frequency of each value
df_freq = df_train.groupBy("Marital Status").agg(count("*").alias("Frequency"))

# Show result
df_freq.show()

# df_train.groupBy("Gender")

+--------------+---------+
|Marital Status|Frequency|
+--------------+---------+
|       Married|   394316|
|      Divorced|   391764|
|          NULL|    18529|
|        Single|   395391|
+--------------+---------+

# middle ai to fill null ( ocupations )

In [14]:
#the second dataframe
df2 = df_train

In [15]:
df2.show(8)

+---+----+------+-------------+--------------+--------------------+---------------+-------------+------------------+--------+-------------+---------------+-----------+------------+------------------+--------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|   Occupation|      Health Score|Location|  Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|   Policy Start Date|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+-------------+------------------+--------+-------------+---------------+-----------+------------+------------------+--------------------+-----------------+--------------+------------------+-------------+--------------+
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|Self-Employed| 22.59876067181393|   Urban|      Premium|            2.0|       17.0|       372.0|               5.0|2023-12-23 15:21:...|             Poor|            No|            Weekly|        House|        2869.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|         NULL|15.569730989408043|   Rural|Comprehensive|            1.0|       12.0|       694.0|               2.0|2023-06-12 15:21:...|          Average|           Yes|           Monthly|        House|        1483.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|Self-Employed| 47.17754928786464|Suburban|      Premium|            1.0|       14.0|        NULL|               3.0|2023-09-30 15:21:...|             Good|           Yes|            Weekly|        House|         567.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|         NULL|10.938144158664583|   Rural|        Basic|            1.0|        0.0|       367.0|               1.0|2024-06-12 15:21:...|             Poor|           Yes|             Daily|    Apartment|         765.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|Self-Employed|20.376093627736925|   Rural|      Premium|            0.0|        8.0|       598.0|               4.0|2021-12-01 15:21:...|             Poor|           Yes|            Weekly|        House|        2022.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|         NULL| 33.05319768402281|   Urban|      Premium|            2.0|        4.0|       614.0|               5.0|2022-05-20 15:21:...|          Average|            No|            Weekly|        House|        3202.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|         NULL|              NULL|   Rural|        Basic|            2.0|        8.0|       807.0|               6.0|2020-02-21 15:21:...|             Poor|            No|            Weekly|        House|         439.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|     Employed| 5.769783092512088|Suburban|Comprehensive|            1.0|       11.0|       398.0|               5.0|2022-08-08 15:21:...|          Average|            No|            Rarely|        Condo|         111.0|
+---+----+------+-------------+--------------+--------------------+---------------+-------------+------------------+--------+-------------+---------------+-----------+------------+------------------+--------------------+-----------------+--------------+------------------+-------------+--------------+
only showing top 8 rows

In [16]:
df2.select("Policy Start Date").first()

Row(Policy Start Date=datetime.datetime(2023, 12, 23, 15, 21, 39, 134960))

# filling (string) Nulls

In [17]:
from pyspark.sql.functions import col, count
a= df2.filter(col("Age").isNotNull()).count()
b =df2.filter(col("Age").isNull()).count()
print(a,b)

1181295 18705

In [18]:
# df2 = df2.dropna(subset=['Occupation'])

df2 = df2.fillna({'Occupation': 'Unknown_Occupation'})
df2 = df2.fillna({'Marital Status': 'Unknown_marital_status'})
df2 = df2.fillna({'Customer Feedback': 'Unknown_customer_feedback'})
# df2 = df2.fillna({'Number of Dependents': '0'})
# df2 = df2.fillna({'Previous Claims': '0'})

In [19]:
# smoking status to 0 and 1
from pyspark.sql.functions import when
# 'Smoking Status'

df2 = df2.withColumn("Smoking Status", when(df2["Smoking Status"] == "Yes", 1)
                                      .when(df2["Smoking Status"] == "No", 0)
                                      .otherwise(None)
                                      ) 

# df2 = df2.replace({"Smoking Status": {"Yes": 1, "No": 0}})


# df2.show(10)

In [20]:
df2 = df2.drop('Policy Start Date')

In [21]:
df2.show(10)

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-------------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|  Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-------------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|     Self-Employed| 22.59876067181393|   Urban|      Premium|            2.0|       17.0|       372.0|               5.0|             Poor|             0|            Weekly|        House|        2869.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|Unknown_Occupation|15.569730989408043|   Rural|Comprehensive|            1.0|       12.0|       694.0|               2.0|          Average|             1|           Monthly|        House|        1483.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|     Self-Employed| 47.17754928786464|Suburban|      Premium|            1.0|       14.0|        NULL|               3.0|             Good|             1|            Weekly|        House|         567.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|Unknown_Occupation|10.938144158664583|   Rural|        Basic|            1.0|        0.0|       367.0|               1.0|             Poor|             1|             Daily|    Apartment|         765.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|     Self-Employed|20.376093627736925|   Rural|      Premium|            0.0|        8.0|       598.0|               4.0|             Poor|             1|            Weekly|        House|        2022.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|Unknown_Occupation| 33.05319768402281|   Urban|      Premium|            2.0|        4.0|       614.0|               5.0|          Average|             0|            Weekly|        House|        3202.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|Unknown_Occupation|              NULL|   Rural|        Basic|            2.0|        8.0|       807.0|               6.0|             Poor|             0|            Weekly|        House|         439.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|          Employed| 5.769783092512088|Suburban|Comprehensive|            1.0|       11.0|       398.0|               5.0|          Average|             0|            Rarely|        Condo|         111.0|
|  8|21.0|  Male|       1733.0|      Divorced|                 3.0|     Bachelor's|Unknown_Occupation|17.869550814826297|   Urban|      Premium|            1.0|       10.0|       685.0|               8.0|          Average|             0|           Monthly|        Condo|         213.0|
|  9|44.0|  Male|      52447.0|       Married|                 2.0|       Master's|          Employed| 20.47371785695596|   Urban|Comprehensive|            1.0|        9.0|       635.0|               3.0|             Poor|             0|             Daily|        Condo|          64.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-------------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
only showing top 10 rows

In [22]:
# df2.show(10)
from pyspark.sql.functions import col, count
df_freq_occu = df2.groupBy("Occupation").agg(count("*").alias("Frequency"))

# Show result
df_freq_occu.show()

+------------------+---------+
|        Occupation|Frequency|
+------------------+---------+
|Unknown_Occupation|   358075|
|          Employed|   282750|
|        Unemployed|   276530|
|     Self-Employed|   282645|
+------------------+---------+

# Now filling the (numerical) Nulls

In [23]:
# fill with 0 
# fill_with_zero = ['Previous Claims','Number of Dependents']

#Previous Claims to 0
# df2 = df2.fillna(0,subset=["Previous Claims"])

#Number of Dependents
df2 = df2.fillna(0,subset=["Number of Dependents"])

In [24]:
mean_cols = ['Age','Health Score','Annual Income','Vehicle Age','Credit Score','Insurance Duration'] 

from pyspark.sql.functions import mean, col,count

def fillna_with_mean(data_frame,col_names_list):
    df2 = data_frame
    for col_name in col_names_list:
        mean_value = round(df2.select(mean(col(col_name))).collect()[0][0],2)
        print(f"{col_name} mean is {mean_value}")
        df2 = df2.fillna(mean_value,subset=[col_name])
        # full check
        number_of_null = df2.filter(col(col_name).isNull()).count()
        print(f"Null values for {col_name} is : {number_of_null}")
        
    return df2

df2 = fillna_with_mean(df2,mean_cols)
# outlier:
IQR = [''] # then use (median) to replace them

# mode_cols = 

#Annual Income > took all the values more than 20k as iqr is showing bizzare values # and less than those we replaced than with median

# Now ================================================
# Number of Dependents

Age mean is 41.15
Null values for Age is : 0
Health Score mean is 25.61
Null values for Health Score is : 0
Annual Income mean is 32745.22
Null values for Annual Income is : 0
Vehicle Age mean is 9.57
Null values for Vehicle Age is : 0
Credit Score mean is 592.92
Null values for Credit Score is : 0
Insurance Duration mean is 5.02
Null values for Insurance Duration is : 0

In [25]:
from pyspark.sql.functions import col, sum

print("Missing values of df2 Training Data (%):")
df2.select(
    [(sum(col(c).isNull().cast("int")) / df2.count() * 100).alias(c) for c in df2.columns]
).show()

Missing values of df2 Training Data (%):
+---+---+------+-------------+--------------+--------------------+---------------+----------+------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id|Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|Occupation|Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+---+------+-------------+--------------+--------------------+---------------+----------+------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
|0.0|0.0|   0.0|          0.0|           0.0|                 0.0|            0.0|       0.0|         0.0|     0.0|        0.0|       30.33575|        0.0|         0.0|               0.0|              0.0|           0.0|               0.0|          0.0|           0.0|
+---+---+------+-------------+--------------+--------------------+---------------+----------+------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+

In [26]:
df2.filter(col('Annual Income').isNull()).count()

0

# IQR

In [27]:
# we'll leave annual income for now

df_train   = df2
from pyspark.sql.functions import col, expr

# Step 1: Compute IQR and Median
summary = df_train.selectExpr(
    "percentile_approx(`Annual Income`, 0.25) as Q1",
    "percentile_approx(`Annual Income`, 0.75) as Q3",
    "percentile_approx(`Annual Income`, 0.5) as Median"
).collect()[0]

Q1 = summary["Q1"]
Q3 = summary["Q3"]
IQR = Q3 - Q1
Lower_Bound = Q1 - 1.5 * IQR
Upper_Bound = Q3 + 1.5 * IQR
median_income = summary["Median"]

# Step 2: Replace Outliers with Median
df_train = df_train.withColumn(
    "Annual Income",
    expr(f"CASE WHEN `Annual Income` < {Lower_Bound} OR `Annual Income` > {Upper_Bound} THEN {median_income} ELSE `Annual Income` END")
)

# Step 3: Fill Null Values with Median
df_train = df_train.fillna({"Annual Income": median_income})

# Show the final result
df_train.select("Annual Income").describe().show()

+-------+------------------+
|summary|     Annual Income|
+-------+------------------+
|  count|           1200000|
|   mean|27095.636900646812|
| stddev| 22269.90291187683|
|    min|               1.0|
|    max|           96871.0|
+-------+------------------+

In [28]:
from pyspark.sql.functions import col, count
# Count frequency of each value
df_freq = df2.groupBy("Annual Income").agg(count("*").alias("Frequency"))

# Show result
df_freq.count()

88594

In [29]:
# df_freq.show(48)
# df_freq.filter((col("Annual Income") >= 1) & (col("Annual Income") <= 30)).show(30)
# df_freq.filter((col("Annual Income") <= 20000) ).count()
df_freq.filter((col("Annual Income") <= 100) ).count()
# df_freq.filter((col("Frequency") >= 1) & (col("Frequency") <= 100)).show(50)

92

In [30]:
from pyspark.sql.functions import col, expr
# Identify numeric columns (int and double)
# numeric_columns = [col_name for col_name, dtype in df.dtypes if dtype in ("int", "double")]
# print("Numeric Columns:", numeric_columns)

# Function to remove outliers using IQR
column_now ='Age'

# Compute Q1, Q3, and IQR
quantiles = df2.approxQuantile(column_now, [0.25, 0.75], 0.05)
Q1, Q3 = quantiles[0], quantiles[1]
IQR = Q3 - Q1

#define lower & upper bound
lower_bound, upper_bound = Q1 - 1.5 * IQR, Q3 + 1.5 * IQR

# Filter DataFrame to remove outliers
df2_ann=df2.filter((col(column_now) >= lower_bound) & (col(column_now) <= upper_bound))

# Apply outlier removal for each numeric column
# for col_name in numeric_columns:
#     df = remove_outliers(df, col_name)

In [31]:
df2_ann.count()
# df2_ann.show()

1200000

# sometimes the numerical values also satys as sting to we didn't try to find the colunms using code which are type (sting)

In [32]:
df2.dtypes

[('id', 'int'),
 ('Age', 'double'),
 ('Gender', 'string'),
 ('Annual Income', 'double'),
 ('Marital Status', 'string'),
 ('Number of Dependents', 'double'),
 ('Education Level', 'string'),
 ('Occupation', 'string'),
 ('Health Score', 'double'),
 ('Location', 'string'),
 ('Policy Type', 'string'),
 ('Previous Claims', 'double'),
 ('Vehicle Age', 'double'),
 ('Credit Score', 'double'),
 ('Insurance Duration', 'double'),
 ('Customer Feedback', 'string'),
 ('Smoking Status', 'int'),
 ('Exercise Frequency', 'string'),
 ('Property Type', 'string'),
 ('Premium Amount', 'double')]

In [33]:
df2.columns

['id',
 'Age',
 'Gender',
 'Annual Income',
 'Marital Status',
 'Number of Dependents',
 'Education Level',
 'Occupation',
 'Health Score',
 'Location',
 'Policy Type',
 'Previous Claims',
 'Vehicle Age',
 'Credit Score',
 'Insurance Duration',
 'Customer Feedback',
 'Smoking Status',
 'Exercise Frequency',
 'Property Type',
 'Premium Amount']

In [34]:
df2.show(10)

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-------------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|  Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-------------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|     Self-Employed| 22.59876067181393|   Urban|      Premium|            2.0|       17.0|       372.0|               5.0|             Poor|             0|            Weekly|        House|        2869.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|Unknown_Occupation|15.569730989408043|   Rural|Comprehensive|            1.0|       12.0|       694.0|               2.0|          Average|             1|           Monthly|        House|        1483.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|     Self-Employed| 47.17754928786464|Suburban|      Premium|            1.0|       14.0|      592.92|               3.0|             Good|             1|            Weekly|        House|         567.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|Unknown_Occupation|10.938144158664583|   Rural|        Basic|            1.0|        0.0|       367.0|               1.0|             Poor|             1|             Daily|    Apartment|         765.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|     Self-Employed|20.376093627736925|   Rural|      Premium|            0.0|        8.0|       598.0|               4.0|             Poor|             1|            Weekly|        House|        2022.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|Unknown_Occupation| 33.05319768402281|   Urban|      Premium|            2.0|        4.0|       614.0|               5.0|          Average|             0|            Weekly|        House|        3202.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|Unknown_Occupation|             25.61|   Rural|        Basic|            2.0|        8.0|       807.0|               6.0|             Poor|             0|            Weekly|        House|         439.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|          Employed| 5.769783092512088|Suburban|Comprehensive|            1.0|       11.0|       398.0|               5.0|          Average|             0|            Rarely|        Condo|         111.0|
|  8|21.0|  Male|       1733.0|      Divorced|                 3.0|     Bachelor's|Unknown_Occupation|17.869550814826297|   Urban|      Premium|            1.0|       10.0|       685.0|               8.0|          Average|             0|           Monthly|        Condo|         213.0|
|  9|44.0|  Male|      52447.0|       Married|                 2.0|       Master's|          Employed| 20.47371785695596|   Urban|Comprehensive|            1.0|        9.0|       635.0|               3.0|             Poor|             0|             Daily|        Condo|          64.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-------------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
only showing top 10 rows

In [35]:
df2 = df2.withColumn("Customer Feedback", when(df2["Customer Feedback"] == "Poor", 1)
                                      .when(df2["Customer Feedback"] == "Average", 2)
                                      .when(df2["Customer Feedback"] == "Good", 3)
                                      .otherwise(0)
                                      ) 




df2.show(10)

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-------------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|  Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-------------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|     Self-Employed| 22.59876067181393|   Urban|      Premium|            2.0|       17.0|       372.0|               5.0|                1|             0|            Weekly|        House|        2869.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|Unknown_Occupation|15.569730989408043|   Rural|Comprehensive|            1.0|       12.0|       694.0|               2.0|                2|             1|           Monthly|        House|        1483.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|     Self-Employed| 47.17754928786464|Suburban|      Premium|            1.0|       14.0|      592.92|               3.0|                3|             1|            Weekly|        House|         567.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|Unknown_Occupation|10.938144158664583|   Rural|        Basic|            1.0|        0.0|       367.0|               1.0|                1|             1|             Daily|    Apartment|         765.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|     Self-Employed|20.376093627736925|   Rural|      Premium|            0.0|        8.0|       598.0|               4.0|                1|             1|            Weekly|        House|        2022.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|Unknown_Occupation| 33.05319768402281|   Urban|      Premium|            2.0|        4.0|       614.0|               5.0|                2|             0|            Weekly|        House|        3202.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|Unknown_Occupation|             25.61|   Rural|        Basic|            2.0|        8.0|       807.0|               6.0|                1|             0|            Weekly|        House|         439.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|          Employed| 5.769783092512088|Suburban|Comprehensive|            1.0|       11.0|       398.0|               5.0|                2|             0|            Rarely|        Condo|         111.0|
|  8|21.0|  Male|       1733.0|      Divorced|                 3.0|     Bachelor's|Unknown_Occupation|17.869550814826297|   Urban|      Premium|            1.0|       10.0|       685.0|               8.0|                2|             0|           Monthly|        Condo|         213.0|
|  9|44.0|  Male|      52447.0|       Married|                 2.0|       Master's|          Employed| 20.47371785695596|   Urban|Comprehensive|            1.0|        9.0|       635.0|               3.0|                1|             0|             Daily|        Condo|          64.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-------------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
only showing top 10 rows

In [36]:
df2 = df2.withColumn("Policy Type", when(df2["Policy Type"] == "Basic", 1)
                                      .when(df2["Policy Type"] == "Comprehensive", 2)
                                      .when(df2["Policy Type"] == "Premium", 3)
                                      .otherwise(0)
                                      ) 




df2.show(10)

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|     Self-Employed| 22.59876067181393|   Urban|          3|            2.0|       17.0|       372.0|               5.0|                1|             0|            Weekly|        House|        2869.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|Unknown_Occupation|15.569730989408043|   Rural|          2|            1.0|       12.0|       694.0|               2.0|                2|             1|           Monthly|        House|        1483.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|     Self-Employed| 47.17754928786464|Suburban|          3|            1.0|       14.0|      592.92|               3.0|                3|             1|            Weekly|        House|         567.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|Unknown_Occupation|10.938144158664583|   Rural|          1|            1.0|        0.0|       367.0|               1.0|                1|             1|             Daily|    Apartment|         765.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|     Self-Employed|20.376093627736925|   Rural|          3|            0.0|        8.0|       598.0|               4.0|                1|             1|            Weekly|        House|        2022.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|Unknown_Occupation| 33.05319768402281|   Urban|          3|            2.0|        4.0|       614.0|               5.0|                2|             0|            Weekly|        House|        3202.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|Unknown_Occupation|             25.61|   Rural|          1|            2.0|        8.0|       807.0|               6.0|                1|             0|            Weekly|        House|         439.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|          Employed| 5.769783092512088|Suburban|          2|            1.0|       11.0|       398.0|               5.0|                2|             0|            Rarely|        Condo|         111.0|
|  8|21.0|  Male|       1733.0|      Divorced|                 3.0|     Bachelor's|Unknown_Occupation|17.869550814826297|   Urban|          3|            1.0|       10.0|       685.0|               8.0|                2|             0|           Monthly|        Condo|         213.0|
|  9|44.0|  Male|      52447.0|       Married|                 2.0|       Master's|          Employed| 20.47371785695596|   Urban|          2|            1.0|        9.0|       635.0|               3.0|                1|             0|             Daily|        Condo|          64.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
only showing top 10 rows

In [37]:
col_e = 'Exercise Frequency'
df2 = df2.withColumn(col_e, when(df2[col_e] == "Daily", 4)
                                      .when(df2[col_e] == "Weekly", 3)
                                      .when(df2[col_e] == "Monthly", 2)
                                      .when(df2[col_e] == "Rarely", 1)
                                      .otherwise(0)
                                      ) 




df2.show(10)

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|     Self-Employed| 22.59876067181393|   Urban|          3|            2.0|       17.0|       372.0|               5.0|                1|             0|                 3|        House|        2869.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|Unknown_Occupation|15.569730989408043|   Rural|          2|            1.0|       12.0|       694.0|               2.0|                2|             1|                 2|        House|        1483.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|     Self-Employed| 47.17754928786464|Suburban|          3|            1.0|       14.0|      592.92|               3.0|                3|             1|                 3|        House|         567.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|Unknown_Occupation|10.938144158664583|   Rural|          1|            1.0|        0.0|       367.0|               1.0|                1|             1|                 4|    Apartment|         765.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|     Self-Employed|20.376093627736925|   Rural|          3|            0.0|        8.0|       598.0|               4.0|                1|             1|                 3|        House|        2022.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|Unknown_Occupation| 33.05319768402281|   Urban|          3|            2.0|        4.0|       614.0|               5.0|                2|             0|                 3|        House|        3202.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|Unknown_Occupation|             25.61|   Rural|          1|            2.0|        8.0|       807.0|               6.0|                1|             0|                 3|        House|         439.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|          Employed| 5.769783092512088|Suburban|          2|            1.0|       11.0|       398.0|               5.0|                2|             0|                 1|        Condo|         111.0|
|  8|21.0|  Male|       1733.0|      Divorced|                 3.0|     Bachelor's|Unknown_Occupation|17.869550814826297|   Urban|          3|            1.0|       10.0|       685.0|               8.0|                2|             0|                 2|        Condo|         213.0|
|  9|44.0|  Male|      52447.0|       Married|                 2.0|       Master's|          Employed| 20.47371785695596|   Urban|          2|            1.0|        9.0|       635.0|               3.0|                1|             0|                 4|        Condo|          64.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
only showing top 10 rows

In [38]:
# Count null values for each column
null_counts = df2.select([sum(col(c).isNull().cast("int")).alias(c) for c in df2.columns])

# Show the result
null_counts.show()

+---+---+------+-------------+--------------+--------------------+---------------+----------+------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id|Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|Occupation|Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+---+------+-------------+--------------+--------------------+---------------+----------+------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
|  0|  0|     0|            0|             0|                   0|              0|         0|           0|       0|          0|         364029|          0|           0|                 0|                0|             0|                 0|            0|             0|
+---+---+------+-------------+--------------+--------------------+---------------+----------+------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+

In [39]:
df2.count()

1200000

In [40]:
df2_dropped = df2

In [41]:
df2_dropped=df2_dropped.dropna()

In [42]:
df2_dropped.count()

835971

In [43]:
(df2_dropped.count()/df2.count())*100

69.66425000000001

In [44]:
# from pyspark.sql.functions import col, sum, when

# total_nulls = df2_dropped.select([sum(when(col(c).isNull(), 1).otherwise(0)) for c in df2_dropped.columns]).collect()[0].asDict().values()
# total_null_count = sum(total_nulls)

# print(total_null_count)

from pyspark.sql.functions import col, sum

# Count null values for each column
null_counts = df2_dropped.select([sum(col(c).isNull().cast("int")).alias(c) for c in df2_dropped.columns])

# Show the result
null_counts.show()

+---+---+------+-------------+--------------+--------------------+---------------+----------+------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id|Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|Occupation|Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+---+------+-------------+--------------+--------------------+---------------+----------+------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
|  0|  0|     0|            0|             0|                   0|              0|         0|           0|       0|          0|              0|          0|           0|                 0|                0|             0|                 0|            0|             0|
+---+---+------+-------------+--------------+--------------------+---------------+----------+------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+

# df2_dropped

In [45]:



# string index
#string indexer
from pyspark.ml.feature import StringIndexer

# to_string_indxn_columns = ['Gender', 'Marital Status', 'Education Level', 'Occupation',
#                        'Location', 'Policy Type', 'Customer Feedback', 
#                        'Exercise Frequency', 'Property Type']


to_string_indxn_columns = ['Gender', 'Marital Status', 'Education Level', 
                           'Occupation','Location',  'Property Type']

# # index
# indexers = [
#     StringIndexer(inputCol=col, outputCol=f"{col}_indexed").fit(df2)
#     for col in to_string_indxn_columns
# ]

# # transform
# df2 = indexers.transform(df2)


# both index and transfmation together
for col_name in to_string_indxn_columns:
    indexer = StringIndexer(inputCol=col_name, outputCol=col_name + "_Indexed" , handleInvalid="keep")
    df2_dropped = indexer.fit(df2_dropped).transform(df2_dropped)

df2_dropped.show(10)

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|Gender_Indexed|Marital Status_Indexed|Education Level_Indexed|Occupation_Indexed|Location_Indexed|Property Type_Indexed|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|     Self-Employed| 22.59876067181393|   Urban|          3|            2.0|       17.0|       372.0|               5.0|                1|             0|                 3|        House|        2869.0|           1.0|                   1.0|                    1.0|               1.0|             2.0|                  1.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|Unknown_Occupation|15.569730989408043|   Rural|          2|            1.0|       12.0|       694.0|               2.0|                2|             1|                 2|        House|        1483.0|           1.0|                   2.0|                    2.0|               0.0|             1.0|                  1.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|     Self-Employed| 47.17754928786464|Suburban|          3|            1.0|       14.0|      592.92|               3.0|                3|             1|                 3|        House|         567.0|           0.0|                   2.0|                    3.0|               1.0|             0.0|                  1.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|Unknown_Occupation|10.938144158664583|   Rural|          1|            1.0|        0.0|       367.0|               1.0|                1|             1|                 4|    Apartment|         765.0|           0.0|                   1.0|                    1.0|               0.0|             1.0|                  0.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|     Self-Employed|20.376093627736925|   Rural|          3|            0.0|        8.0|       598.0|               4.0|                1|             1|                 3|        House|        2022.0|           0.0|                   0.0|                    1.0|               1.0|             1.0|                  1.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|Unknown_Occupation| 33.05319768402281|   Urban|          3|            2.0|        4.0|       614.0|               5.0|                2|             0|                 3|        House|        3202.0|           0.0|                   1.0|                    1.0|               0.0|             2.0|                  1.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|Unknown_Occupation|             25.61|   Rural|          1|            2.0|        8.0|       807.0|               6.0|                1|             0|                 3|        House|         439.0|           0.0|                   1.0|                    0.0|               0.0|             1.0|                  1.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|          Employed| 5.769783092512088|Suburban|          2|            1.0|       11.0|       398.0|               5.0|                2|             0|                 1|        Condo|         111.0|           1.0|                   2.0|                    3.0|               2.0|             0.0|                  2.0|
|  8|21.0|  Male|       1733.0|      Divorced|                 3.0|     Bachelor's|Unknown_Occupation|17.869550814826297|   Urban|          3|            1.0|       10.0|       685.0|               8.0|                2|             0|                 2|        Condo|         213.0|           0.0|                   2.0|                    1.0|               0.0|             2.0|                  2.0|
|  9|44.0|  Male|      52447.0|       Married|                 2.0|       Master's|          Employed| 20.47371785695596|   Urban|          2|            1.0|        9.0|       635.0|               3.0|                1|             0|                 4|        Condo|          64.0|           0.0|                   1.0|                    2.0|               2.0|             2.0|                  2.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
only showing top 10 rows

# Now drop the coulmns that we used to index new columns

In [46]:
df_indexed = df2_dropped.drop(*to_string_indxn_columns)
df_indexed.show(10)

+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
| id| Age|Annual Income|Number of Dependents|      Health Score|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Premium Amount|Gender_Indexed|Marital Status_Indexed|Education Level_Indexed|Occupation_Indexed|Location_Indexed|Property Type_Indexed|
+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
|  0|19.0|      10049.0|                 1.0| 22.59876067181393|          3|            2.0|       17.0|       372.0|               5.0|                1|             0|                 3|        2869.0|           1.0|                   1.0|                    1.0|               1.0|             2.0|                  1.0|
|  1|39.0|      31678.0|                 3.0|15.569730989408043|          2|            1.0|       12.0|       694.0|               2.0|                2|             1|                 2|        1483.0|           1.0|                   2.0|                    2.0|               0.0|             1.0|                  1.0|
|  2|23.0|      25602.0|                 3.0| 47.17754928786464|          3|            1.0|       14.0|      592.92|               3.0|                3|             1|                 3|         567.0|           0.0|                   2.0|                    3.0|               1.0|             0.0|                  1.0|
|  3|21.0|     141855.0|                 2.0|10.938144158664583|          1|            1.0|        0.0|       367.0|               1.0|                1|             1|                 4|         765.0|           0.0|                   1.0|                    1.0|               0.0|             1.0|                  0.0|
|  4|21.0|      39651.0|                 1.0|20.376093627736925|          3|            0.0|        8.0|       598.0|               4.0|                1|             1|                 3|        2022.0|           0.0|                   0.0|                    1.0|               1.0|             1.0|                  1.0|
|  5|29.0|      45963.0|                 1.0| 33.05319768402281|          3|            2.0|        4.0|       614.0|               5.0|                2|             0|                 3|        3202.0|           0.0|                   1.0|                    1.0|               0.0|             2.0|                  1.0|
|  6|41.0|      40336.0|                 0.0|             25.61|          1|            2.0|        8.0|       807.0|               6.0|                1|             0|                 3|         439.0|           0.0|                   1.0|                    0.0|               0.0|             1.0|                  1.0|
|  7|48.0|     127237.0|                 2.0| 5.769783092512088|          2|            1.0|       11.0|       398.0|               5.0|                2|             0|                 1|         111.0|           1.0|                   2.0|                    3.0|               2.0|             0.0|                  2.0|
|  8|21.0|       1733.0|                 3.0|17.869550814826297|          3|            1.0|       10.0|       685.0|               8.0|                2|             0|                 2|         213.0|           0.0|                   2.0|                    1.0|               0.0|             2.0|                  2.0|
|  9|44.0|      52447.0|                 2.0| 20.47371785695596|          2|            1.0|        9.0|       635.0|               3.0|                1|             0|                 4|          64.0|           0.0|                   1.0|                    2.0|               2.0|             2.0|                  2.0|
+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
only showing top 10 rows

# Model training for ( Previous claims)

In [47]:
# Splitting df2 into 80% training and 20% testing
train_df, test_df = df_indexed.randomSplit([0.8, 0.2], seed=42)
train_df.show(10)

+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
| id| Age|Annual Income|Number of Dependents|      Health Score|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Premium Amount|Gender_Indexed|Marital Status_Indexed|Education Level_Indexed|Occupation_Indexed|Location_Indexed|Property Type_Indexed|
+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
|  0|19.0|      10049.0|                 1.0| 22.59876067181393|          3|            2.0|       17.0|       372.0|               5.0|                1|             0|                 3|        2869.0|           1.0|                   1.0|                    1.0|               1.0|             2.0|                  1.0|
|  1|39.0|      31678.0|                 3.0|15.569730989408043|          2|            1.0|       12.0|       694.0|               2.0|                2|             1|                 2|        1483.0|           1.0|                   2.0|                    2.0|               0.0|             1.0|                  1.0|
|  3|21.0|     141855.0|                 2.0|10.938144158664583|          1|            1.0|        0.0|       367.0|               1.0|                1|             1|                 4|         765.0|           0.0|                   1.0|                    1.0|               0.0|             1.0|                  0.0|
|  4|21.0|      39651.0|                 1.0|20.376093627736925|          3|            0.0|        8.0|       598.0|               4.0|                1|             1|                 3|        2022.0|           0.0|                   0.0|                    1.0|               1.0|             1.0|                  1.0|
|  5|29.0|      45963.0|                 1.0| 33.05319768402281|          3|            2.0|        4.0|       614.0|               5.0|                2|             0|                 3|        3202.0|           0.0|                   1.0|                    1.0|               0.0|             2.0|                  1.0|
|  7|48.0|     127237.0|                 2.0| 5.769783092512088|          2|            1.0|       11.0|       398.0|               5.0|                2|             0|                 1|         111.0|           1.0|                   2.0|                    3.0|               2.0|             0.0|                  2.0|
|  9|44.0|      52447.0|                 2.0| 20.47371785695596|          2|            1.0|        9.0|       635.0|               3.0|                1|             0|                 4|          64.0|           0.0|                   1.0|                    2.0|               2.0|             2.0|                  2.0|
| 10|56.0|       8054.0|                 1.0|             25.61|          3|            1.0|        8.0|       431.0|               8.0|                2|             0|                 2|         857.0|           1.0|                   1.0|                    1.0|               3.0|             1.0|                  2.0|
| 12|25.0|      23706.0|                 4.0| 4.090538023921365|          2|            2.0|       19.0|      592.92|               2.0|                1|             1|                 3|         703.0|           1.0|                   0.0|                    2.0|               2.0|             2.0|                  0.0|
| 13|44.0|      70893.0|                 0.0| 55.89632239159919|          3|            0.0|        3.0|       511.0|               6.0|                3|             1|                 3|        1847.0|           1.0|                   0.0|                    1.0|               0.0|             0.0|                  1.0|
+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
only showing top 10 rows

In [48]:
test_df.show(10)

+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
| id| Age|Annual Income|Number of Dependents|      Health Score|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Premium Amount|Gender_Indexed|Marital Status_Indexed|Education Level_Indexed|Occupation_Indexed|Location_Indexed|Property Type_Indexed|
+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
|  2|23.0|      25602.0|                 3.0| 47.17754928786464|          3|            1.0|       14.0|      592.92|               3.0|                3|             1|                 3|         567.0|           0.0|                   2.0|                    3.0|               1.0|             0.0|                  1.0|
|  6|41.0|      40336.0|                 0.0|             25.61|          1|            2.0|        8.0|       807.0|               6.0|                1|             0|                 3|         439.0|           0.0|                   1.0|                    0.0|               0.0|             1.0|                  1.0|
|  8|21.0|       1733.0|                 3.0|17.869550814826297|          3|            1.0|       10.0|       685.0|               8.0|                2|             0|                 2|         213.0|           0.0|                   2.0|                    1.0|               0.0|             2.0|                  2.0|
| 14|40.0|      23897.0|                 0.0| 29.08203615642357|          1|            2.0|       15.0|       498.0|               1.0|                3|             0|                 1|          30.0|           1.0|                   2.0|                    3.0|               1.0|             0.0|                  2.0|
| 23|34.0|      32762.0|                 1.0| 21.96760938053775|          3|            0.0|       10.0|       798.0|               1.0|                2|             1|                 2|        3869.0|           1.0|                   2.0|                    1.0|               0.0|             1.0|                  2.0|
| 31|37.0|       4534.0|                 0.0|26.387480918831336|          3|            0.0|        1.0|      592.92|               1.0|                1|             0|                 4|         165.0|           0.0|                   2.0|                    1.0|               0.0|             0.0|                  1.0|
| 40|59.0|       1717.0|                 1.0|23.900048744874688|          1|            0.0|        9.0|       382.0|               6.0|                3|             0|                 3|        1813.0|           0.0|                   2.0|                    1.0|               3.0|             2.0|                  1.0|
| 46|31.0|      27950.0|                 2.0| 22.93686152514115|          1|            0.0|        1.0|       575.0|               5.0|                1|             0|                 3|        1069.0|           1.0|                   1.0|                    0.0|               0.0|             2.0|                  1.0|
| 63|29.0|       2490.0|                 0.0| 50.63801697762423|          2|            3.0|        7.0|      592.92|               2.0|                3|             0|                 2|         810.0|           1.0|                   1.0|                    2.0|               0.0|             2.0|                  0.0|
| 64|48.0|      94904.0|                 1.0|  45.9792179435217|          2|            0.0|        3.0|       426.0|               1.0|                2|             0|                 2|         861.0|           1.0|                   2.0|                    1.0|               1.0|             2.0|                  0.0|
+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
only showing top 10 rows

In [49]:
train_df.columns

['id',
 'Age',
 'Annual Income',
 'Number of Dependents',
 'Health Score',
 'Policy Type',
 'Previous Claims',
 'Vehicle Age',
 'Credit Score',
 'Insurance Duration',
 'Customer Feedback',
 'Smoking Status',
 'Exercise Frequency',
 'Premium Amount',
 'Gender_Indexed',
 'Marital Status_Indexed',
 'Education Level_Indexed',
 'Occupation_Indexed',
 'Location_Indexed',
 'Property Type_Indexed']

In [50]:
from pyspark.ml.feature import VectorAssembler

feature_cols = ['id',
 'Age',
 'Annual Income',
 'Number of Dependents',
 'Health Score',
 'Policy Type',
 'Vehicle Age',
 'Credit Score',
 'Insurance Duration',
 'Customer Feedback',
 'Smoking Status',
 'Exercise Frequency',
 'Premium Amount',
 'Gender_Indexed',
 'Marital Status_Indexed',
 'Education Level_Indexed',
 'Occupation_Indexed',
 'Location_Indexed',
 'Property Type_Indexed']

label_col = 'Previous Claims'


assembler = VectorAssembler(inputCols=feature_cols, outputCol="features")

In [51]:
print(assembler)

VectorAssembler_0dd7a72115a0

# transform using assembler

In [52]:
train_data = assembler.transform(train_df)
test_data = assembler.transform(test_df)

In [53]:
train_data.show(8)

+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+--------------------+
| id| Age|Annual Income|Number of Dependents|      Health Score|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Premium Amount|Gender_Indexed|Marital Status_Indexed|Education Level_Indexed|Occupation_Indexed|Location_Indexed|Property Type_Indexed|            features|
+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+--------------------+
|  0|19.0|      10049.0|                 1.0| 22.59876067181393|          3|            2.0|       17.0|       372.0|               5.0|                1|             0|                 3|        2869.0|           1.0|                   1.0|                    1.0|               1.0|             2.0|                  1.0|[0.0,19.0,10049.0...|
|  1|39.0|      31678.0|                 3.0|15.569730989408043|          2|            1.0|       12.0|       694.0|               2.0|                2|             1|                 2|        1483.0|           1.0|                   2.0|                    2.0|               0.0|             1.0|                  1.0|[1.0,39.0,31678.0...|
|  3|21.0|     141855.0|                 2.0|10.938144158664583|          1|            1.0|        0.0|       367.0|               1.0|                1|             1|                 4|         765.0|           0.0|                   1.0|                    1.0|               0.0|             1.0|                  0.0|[3.0,21.0,141855....|
|  4|21.0|      39651.0|                 1.0|20.376093627736925|          3|            0.0|        8.0|       598.0|               4.0|                1|             1|                 3|        2022.0|           0.0|                   0.0|                    1.0|               1.0|             1.0|                  1.0|[4.0,21.0,39651.0...|
|  5|29.0|      45963.0|                 1.0| 33.05319768402281|          3|            2.0|        4.0|       614.0|               5.0|                2|             0|                 3|        3202.0|           0.0|                   1.0|                    1.0|               0.0|             2.0|                  1.0|[5.0,29.0,45963.0...|
|  7|48.0|     127237.0|                 2.0| 5.769783092512088|          2|            1.0|       11.0|       398.0|               5.0|                2|             0|                 1|         111.0|           1.0|                   2.0|                    3.0|               2.0|             0.0|                  2.0|[7.0,48.0,127237....|
|  9|44.0|      52447.0|                 2.0| 20.47371785695596|          2|            1.0|        9.0|       635.0|               3.0|                1|             0|                 4|          64.0|           0.0|                   1.0|                    2.0|               2.0|             2.0|                  2.0|[9.0,44.0,52447.0...|
| 10|56.0|       8054.0|                 1.0|             25.61|          3|            1.0|        8.0|       431.0|               8.0|                2|             0|                 2|         857.0|           1.0|                   1.0|                    1.0|               3.0|             1.0|                  2.0|[10.0,56.0,8054.0...|
+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+--------------------+
only showing top 8 rows

# Random forest

In [54]:
from pyspark.ml.classification import RandomForestClassifier

rf = RandomForestClassifier(featuresCol="features",labelCol=label_col)

In [55]:
rf_model = rf.fit(train_data)

In [56]:
rf_predictions = rf_model.transform(test_data)

In [57]:
rf_predictions.show(10)

+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+--------------------+--------------------+--------------------+----------+
| id| Age|Annual Income|Number of Dependents|      Health Score|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Premium Amount|Gender_Indexed|Marital Status_Indexed|Education Level_Indexed|Occupation_Indexed|Location_Indexed|Property Type_Indexed|            features|       rawPrediction|         probability|prediction|
+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+--------------------+--------------------+--------------------+----------+
|  2|23.0|      25602.0|                 3.0| 47.17754928786464|          3|            1.0|       14.0|      592.92|               3.0|                3|             1|                 3|         567.0|           0.0|                   2.0|                    3.0|               1.0|             0.0|                  1.0|[2.0,23.0,25602.0...|[7.66901489484479...|[0.38345074474223...|       0.0|
|  6|41.0|      40336.0|                 0.0|             25.61|          1|            2.0|        8.0|       807.0|               6.0|                1|             0|                 3|         439.0|           0.0|                   1.0|                    0.0|               0.0|             1.0|                  1.0|[6.0,41.0,40336.0...|[7.67026999264588...|[0.38351349963229...|       0.0|
|  8|21.0|       1733.0|                 3.0|17.869550814826297|          3|            1.0|       10.0|       685.0|               8.0|                2|             0|                 2|         213.0|           0.0|                   2.0|                    1.0|               0.0|             2.0|                  2.0|[8.0,21.0,1733.0,...|[5.93006467442352...|[0.29650323372117...|       2.0|
| 14|40.0|      23897.0|                 0.0| 29.08203615642357|          1|            2.0|       15.0|       498.0|               1.0|                3|             0|                 1|          30.0|           1.0|                   2.0|                    3.0|               1.0|             0.0|                  2.0|[14.0,40.0,23897....|[7.78228689575093...|[0.38911434478754...|       0.0|
| 23|34.0|      32762.0|                 1.0| 21.96760938053775|          3|            0.0|       10.0|       798.0|               1.0|                2|             1|                 2|        3869.0|           1.0|                   2.0|                    1.0|               0.0|             1.0|                  2.0|[23.0,34.0,32762....|[7.44759255484342...|[0.37237962774217...|       0.0|
| 31|37.0|       4534.0|                 0.0|26.387480918831336|          3|            0.0|        1.0|      592.92|               1.0|                1|             0|                 4|         165.0|           0.0|                   2.0|                    1.0|               0.0|             0.0|                  1.0|[31.0,37.0,4534.0...|[6.26282761686138...|[0.31314138084306...|       0.0|
| 40|59.0|       1717.0|                 1.0|23.900048744874688|          1|            0.0|        9.0|       382.0|               6.0|                3|             0|                 3|        1813.0|           0.0|                   2.0|                    1.0|               3.0|             2.0|                  1.0|[40.0,59.0,1717.0...|[7.53630423527848...|[0.37681521176392...|       0.0|
| 46|31.0|      27950.0|                 2.0| 22.93686152514115|          1|            0.0|        1.0|       575.0|               5.0|                1|             0|                 3|        1069.0|           1.0|                   1.0|                    0.0|               0.0|             2.0|                  1.0|[46.0,31.0,27950....|[7.65068558503049...|[0.38253427925152...|       0.0|
| 63|29.0|       2490.0|                 0.0| 50.63801697762423|          2|            3.0|        7.0|      592.92|               2.0|                3|             0|                 2|         810.0|           1.0|                   1.0|                    2.0|               0.0|             2.0|                  0.0|[63.0,29.0,2490.0...|[5.45567132706773...|[0.27278356635338...|       2.0|
| 64|48.0|      94904.0|                 1.0|  45.9792179435217|          2|            0.0|        3.0|       426.0|               1.0|                2|             0|                 2|         861.0|           1.0|                   2.0|                    1.0|               1.0|             2.0|                  0.0|[64.0,48.0,94904....|[7.58230239209045...|[0.37911511960452...|       0.0|
+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+--------------------+--------------------+--------------------+----------+
only showing top 10 rows

# Accuracy using multiclass classifier

In [58]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Initialize the evaluator
# evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")
evaluator = MulticlassClassificationEvaluator(labelCol=label_col, predictionCol="prediction", metricName="accuracy")

# Calculate accuracy
accuracy = evaluator.evaluate(rf_predictions)
print(f"Accuracy for random foest with multicalss classifier : {accuracy * 100:.2f}%")

Accuracy for random foest with multicalss classifier : 38.50%

# Filling (previous claims)

**df2** is where  we'll apply the model to fill (previous claims) but :
> ok here's the problem:
df2 is main with null (previous claims)
df2.dropped > is where i dropped all null (previous claims)
df2.indexed > is where i string indexed all string columns , after i dropped the mother string columns and kept theri indexed columns
how will i do it.?

> i used **df2.indexed**
 too train the model. now my question is that for the **df2** how will we fill the null data?

Since you trained the model on `df2.indexed`, you need to apply the same transformations to `df2` before making predictions. Here's how:  

1. **Filter Rows with Null `previous claims`**  
   - Extract rows from `df2` where `previous claims` is null.  

2. **Apply Same String Indexing**  
   - Ensure all categorical columns in `df2` are string-indexed using the same indexer from `df2.indexed`.  
   - Drop original string columns, keeping only indexed ones (just like in `df2.indexed`).  

3. **Make Predictions**  
   - Use the trained Random Forest model to predict `previous claims` for these rows.  

4. **Update `df2`**  
   - Replace null values in `df2["previous claims"]` with the predicted values.  

Now, `df2` is fully filled with no missing `previous claims`. 🚀

In [59]:
df2.show()

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|     Self-Employed| 22.59876067181393|   Urban|          3|            2.0|       17.0|       372.0|               5.0|                1|             0|                 3|        House|        2869.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|Unknown_Occupation|15.569730989408043|   Rural|          2|            1.0|       12.0|       694.0|               2.0|                2|             1|                 2|        House|        1483.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|     Self-Employed| 47.17754928786464|Suburban|          3|            1.0|       14.0|      592.92|               3.0|                3|             1|                 3|        House|         567.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|Unknown_Occupation|10.938144158664583|   Rural|          1|            1.0|        0.0|       367.0|               1.0|                1|             1|                 4|    Apartment|         765.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|     Self-Employed|20.376093627736925|   Rural|          3|            0.0|        8.0|       598.0|               4.0|                1|             1|                 3|        House|        2022.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|Unknown_Occupation| 33.05319768402281|   Urban|          3|            2.0|        4.0|       614.0|               5.0|                2|             0|                 3|        House|        3202.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|Unknown_Occupation|             25.61|   Rural|          1|            2.0|        8.0|       807.0|               6.0|                1|             0|                 3|        House|         439.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|          Employed| 5.769783092512088|Suburban|          2|            1.0|       11.0|       398.0|               5.0|                2|             0|                 1|        Condo|         111.0|
|  8|21.0|  Male|       1733.0|      Divorced|                 3.0|     Bachelor's|Unknown_Occupation|17.869550814826297|   Urban|          3|            1.0|       10.0|       685.0|               8.0|                2|             0|                 2|        Condo|         213.0|
|  9|44.0|  Male|      52447.0|       Married|                 2.0|       Master's|          Employed| 20.47371785695596|   Urban|          2|            1.0|        9.0|       635.0|               3.0|                1|             0|                 4|        Condo|          64.0|
| 10|56.0|Female|       8054.0|       Married|                 1.0|     Bachelor's|        Unemployed|             25.61|   Rural|          3|            1.0|        8.0|       431.0|               8.0|                2|             0|                 2|        Condo|         857.0|
| 11|23.0|  Male|      30983.0|        Single|                 3.0|       Master's|Unknown_Occupation| 5.813128940949042|   Urban|          3|           NULL|        6.0|       597.0|               8.0|                3|             0|                 1|        Condo|        1447.0|
| 12|25.0|Female|      23706.0|        Single|                 4.0|       Master's|          Employed| 4.090538023921365|   Urban|          2|            2.0|       19.0|      592.92|               2.0|                1|             1|                 3|    Apartment|         703.0|
| 13|44.0|Female|      70893.0|        Single|                 0.0|     Bachelor's|Unknown_Occupation| 55.89632239159919|Suburban|          3|            0.0|        3.0|       511.0|               6.0|                3|             1|                 3|        House|        1847.0|
| 14|40.0|Female|      23897.0|      Divorced|                 0.0|    High School|     Self-Employed| 29.08203615642357|Suburban|          1|            2.0|       15.0|       498.0|               1.0|                3|             0|                 1|        Condo|          30.0|
| 15|18.0|  Male|       6076.0|       Married|                 2.0|    High School|          Employed| 7.442964015746718|   Urban|          3|            1.0|       12.0|       584.0|               5.0|                3|             1|                 2|    Apartment|         849.0|
| 16|59.0|Female|      28266.0|      Divorced|                 2.0|            PhD|        Unemployed| 21.67346054211263|   Urban|          1|            0.0|       16.0|      592.92|               3.0|                2|             1|                 3|        Condo|         183.0|
| 17|34.0|Female|      45907.0|      Divorced|                 4.0|    High School|     Self-Employed|  24.0596387644636|Suburban|          2|            0.0|        0.0|       694.0|               8.0|                1|             1|                 4|        Condo|         643.0|
| 18|18.0|  Male|      29071.0|       Married|                 0.0|     Bachelor's|          Employed|  20.8389765352726|   Rural|          3|            1.0|        5.0|      592.92|               3.0|                1|             1|                 1|    Apartment|         787.0|
| 19|40.0|Female|     123751.0|        Single|                 2.0|       Master's|     Self-Employed| 24.95531647911226|Suburban|          3|            0.0|        8.0|       420.0|               2.0|                3|             1|                 1|        Condo|          40.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
only showing top 20 rows

In [60]:
from pyspark.sql.functions import col
from pyspark.sql import functions as F

# Step 1: Identify missing values
missing_df = df2.filter(col("previous claims").isNull())
missing_df.show()
#missing_data = df2.filter(col("Previous Claims").isNull()).drop("Previous Claims")

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| 11|23.0|  Male|      30983.0|        Single|                 3.0|       Master's|Unknown_Occupation| 5.813128940949042|   Urban|          3|           NULL|        6.0|       597.0|               8.0|                3|             0|                 1|        Condo|        1447.0|
| 20|39.0|  Male|       6837.0|      Divorced|                 2.0|    High School|     Self-Employed|17.814458917250235|   Urban|          3|           NULL|        7.0|       595.0|               2.0|                3|             1|                 4|    Apartment|        1204.0|
| 21|44.0|Female|      14042.0|      Divorced|                 2.0|       Master's|Unknown_Occupation| 4.551825118494738|   Urban|          1|           NULL|        6.0|       799.0|               5.0|                3|             1|                 3|    Apartment|        2670.0|
| 22|22.0|  Male|     32745.22|      Divorced|                 4.0|            PhD|Unknown_Occupation| 25.58378995160535|   Urban|          2|           NULL|        5.0|       773.0|               5.0|                3|             1|                 2|        House|         202.0|
| 24|46.0|  Male|      24708.0|       Married|                 3.0|    High School|          Employed|  26.3412591810326|   Urban|          3|           NULL|        0.0|       543.0|               4.0|                2|             0|                 4|        House|        1136.0|
| 26|49.0|Female|      82584.0|       Married|                 0.0|     Bachelor's|        Unemployed| 23.86738827838687|   Rural|          2|           NULL|       10.0|       425.0|               9.0|                2|             1|                 3|    Apartment|        1010.0|
| 29|64.0|  Male|     131038.0|        Single|                 0.0|            PhD|     Self-Employed| 20.71707646913313|   Rural|          3|           NULL|       14.0|       495.0|               1.0|                3|             1|                 2|        House|        2360.0|
| 30|52.0|  Male|      30350.0|        Single|                 1.0|     Bachelor's|          Employed| 21.49661354547669|   Rural|          2|           NULL|       18.0|       449.0|               1.0|                1|             0|                 1|        House|         641.0|
| 33|40.0|Female|       1190.0|        Single|                 2.0|    High School|          Employed| 47.85157218465031|   Rural|          1|           NULL|        0.0|       421.0|               4.0|                3|             0|                 3|        Condo|        1128.0|
| 34|25.0|Female|      40887.0|        Single|                 3.0|     Bachelor's|Unknown_Occupation|17.283651290198883|Suburban|          3|           NULL|        5.0|       695.0|               2.0|                2|             1|                 2|    Apartment|        2152.0|
| 38|50.0|Female|      57423.0|        Single|                 1.0|     Bachelor's|     Self-Employed| 14.14668411986696|   Urban|          1|           NULL|        6.0|      592.92|               3.0|                2|             0|                 4|        Condo|        3890.0|
| 50|30.0|Female|       8599.0|        Single|                 1.0|            PhD|          Employed|28.744667545434645|   Rural|          2|           NULL|       18.0|       784.0|               7.0|                3|             0|                 1|        House|         882.0|
| 52|33.0|  Male|      54962.0|       Married|                 0.0|       Master's|          Employed| 20.08451192668927|   Urban|          3|           NULL|        9.0|       381.0|               9.0|                2|             0|                 4|        House|        1358.0|
| 53|50.0|Female|       4928.0|      Divorced|                 1.0|            PhD|        Unemployed|  17.8827123747686|Suburban|          2|           NULL|        3.0|       801.0|               7.0|                3|             1|                 3|    Apartment|        2312.0|
| 57|58.0|  Male|      78986.0|      Divorced|                 2.0|            PhD|     Self-Employed|22.692009207964325|   Urban|          3|           NULL|       16.0|       497.0|               9.0|                3|             0|                 2|    Apartment|          78.0|
| 58|50.0|Female|      35353.0|      Divorced|                 1.0|     Bachelor's|          Employed|35.619122195892686|Suburban|          3|           NULL|        5.0|       359.0|               3.0|                2|             1|                 1|        House|         745.0|
| 59|62.0|Female|     147020.0|       Married|                 4.0|     Bachelor's|     Self-Employed| 24.12174594769064|   Urban|          2|           NULL|        0.0|       498.0|               6.0|                0|             0|                 4|        Condo|        1624.0|
| 61|40.0|Female|      11273.0|      Divorced|                 3.0|    High School|          Employed|  51.5065330307197|   Rural|          2|           NULL|       19.0|       703.0|               5.0|                2|             1|                 2|        Condo|         562.0|
| 67|45.0|  Male|     32745.22|       Married|                 3.0|    High School|     Self-Employed|17.988631364333468|Suburban|          2|           NULL|       18.0|       375.0|               9.0|                2|             1|                 1|        House|         829.0|
| 79|27.0|  Male|        948.0|        Single|                 3.0|       Master's|Unknown_Occupation| 37.47954132171145|   Rural|          1|           NULL|       16.0|       534.0|               9.0|                0|             0|                 1|        House|         514.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
only showing top 20 rows

In [61]:
missing_df.count()

364029

In [62]:
from pyspark.ml.feature import StringIndexer

to_string_indxn_columns = ['Gender', 'Marital Status', 'Education Level', 
                           'Occupation','Location',  'Property Type']

# both index and transfmation together
for col_name in to_string_indxn_columns:
    indexer = StringIndexer(inputCol=col_name, outputCol=col_name + "_Indexed" , handleInvalid="keep")
    missing_df = indexer.fit(missing_df).transform(missing_df)

missing_df.show(10)

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|Gender_Indexed|Marital Status_Indexed|Education Level_Indexed|Occupation_Indexed|Location_Indexed|Property Type_Indexed|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
| 11|23.0|  Male|      30983.0|        Single|                 3.0|       Master's|Unknown_Occupation| 5.813128940949042|   Urban|          3|           NULL|        6.0|       597.0|               8.0|                3|             0|                 1|        Condo|        1447.0|           0.0|                   1.0|                    0.0|               0.0|             2.0|                  1.0|
| 20|39.0|  Male|       6837.0|      Divorced|                 2.0|    High School|     Self-Employed|17.814458917250235|   Urban|          3|           NULL|        7.0|       595.0|               2.0|                3|             1|                 4|    Apartment|        1204.0|           0.0|                   2.0|                    3.0|               2.0|             2.0|                  2.0|
| 21|44.0|Female|      14042.0|      Divorced|                 2.0|       Master's|Unknown_Occupation| 4.551825118494738|   Urban|          1|           NULL|        6.0|       799.0|               5.0|                3|             1|                 3|    Apartment|        2670.0|           1.0|                   2.0|                    0.0|               0.0|             2.0|                  2.0|
| 22|22.0|  Male|     32745.22|      Divorced|                 4.0|            PhD|Unknown_Occupation| 25.58378995160535|   Urban|          2|           NULL|        5.0|       773.0|               5.0|                3|             1|                 2|        House|         202.0|           0.0|                   2.0|                    2.0|               0.0|             2.0|                  0.0|
| 24|46.0|  Male|      24708.0|       Married|                 3.0|    High School|          Employed|  26.3412591810326|   Urban|          3|           NULL|        0.0|       543.0|               4.0|                2|             0|                 4|        House|        1136.0|           0.0|                   0.0|                    3.0|               1.0|             2.0|                  0.0|
| 26|49.0|Female|      82584.0|       Married|                 0.0|     Bachelor's|        Unemployed| 23.86738827838687|   Rural|          2|           NULL|       10.0|       425.0|               9.0|                2|             1|                 3|    Apartment|        1010.0|           1.0|                   0.0|                    1.0|               3.0|             0.0|                  2.0|
| 29|64.0|  Male|     131038.0|        Single|                 0.0|            PhD|     Self-Employed| 20.71707646913313|   Rural|          3|           NULL|       14.0|       495.0|               1.0|                3|             1|                 2|        House|        2360.0|           0.0|                   1.0|                    2.0|               2.0|             0.0|                  0.0|
| 30|52.0|  Male|      30350.0|        Single|                 1.0|     Bachelor's|          Employed| 21.49661354547669|   Rural|          2|           NULL|       18.0|       449.0|               1.0|                1|             0|                 1|        House|         641.0|           0.0|                   1.0|                    1.0|               1.0|             0.0|                  0.0|
| 33|40.0|Female|       1190.0|        Single|                 2.0|    High School|          Employed| 47.85157218465031|   Rural|          1|           NULL|        0.0|       421.0|               4.0|                3|             0|                 3|        Condo|        1128.0|           1.0|                   1.0|                    3.0|               1.0|             0.0|                  1.0|
| 34|25.0|Female|      40887.0|        Single|                 3.0|     Bachelor's|Unknown_Occupation|17.283651290198883|Suburban|          3|           NULL|        5.0|       695.0|               2.0|                2|             1|                 2|    Apartment|        2152.0|           1.0|                   1.0|                    1.0|               0.0|             1.0|                  2.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
only showing top 10 rows

In [63]:
missing_df_indexed = missing_df.drop(*to_string_indxn_columns)
missing_df_indexed.show(10)

+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
| id| Age|Annual Income|Number of Dependents|      Health Score|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Premium Amount|Gender_Indexed|Marital Status_Indexed|Education Level_Indexed|Occupation_Indexed|Location_Indexed|Property Type_Indexed|
+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
| 11|23.0|      30983.0|                 3.0| 5.813128940949042|          3|           NULL|        6.0|       597.0|               8.0|                3|             0|                 1|        1447.0|           0.0|                   1.0|                    0.0|               0.0|             2.0|                  1.0|
| 20|39.0|       6837.0|                 2.0|17.814458917250235|          3|           NULL|        7.0|       595.0|               2.0|                3|             1|                 4|        1204.0|           0.0|                   2.0|                    3.0|               2.0|             2.0|                  2.0|
| 21|44.0|      14042.0|                 2.0| 4.551825118494738|          1|           NULL|        6.0|       799.0|               5.0|                3|             1|                 3|        2670.0|           1.0|                   2.0|                    0.0|               0.0|             2.0|                  2.0|
| 22|22.0|     32745.22|                 4.0| 25.58378995160535|          2|           NULL|        5.0|       773.0|               5.0|                3|             1|                 2|         202.0|           0.0|                   2.0|                    2.0|               0.0|             2.0|                  0.0|
| 24|46.0|      24708.0|                 3.0|  26.3412591810326|          3|           NULL|        0.0|       543.0|               4.0|                2|             0|                 4|        1136.0|           0.0|                   0.0|                    3.0|               1.0|             2.0|                  0.0|
| 26|49.0|      82584.0|                 0.0| 23.86738827838687|          2|           NULL|       10.0|       425.0|               9.0|                2|             1|                 3|        1010.0|           1.0|                   0.0|                    1.0|               3.0|             0.0|                  2.0|
| 29|64.0|     131038.0|                 0.0| 20.71707646913313|          3|           NULL|       14.0|       495.0|               1.0|                3|             1|                 2|        2360.0|           0.0|                   1.0|                    2.0|               2.0|             0.0|                  0.0|
| 30|52.0|      30350.0|                 1.0| 21.49661354547669|          2|           NULL|       18.0|       449.0|               1.0|                1|             0|                 1|         641.0|           0.0|                   1.0|                    1.0|               1.0|             0.0|                  0.0|
| 33|40.0|       1190.0|                 2.0| 47.85157218465031|          1|           NULL|        0.0|       421.0|               4.0|                3|             0|                 3|        1128.0|           1.0|                   1.0|                    3.0|               1.0|             0.0|                  1.0|
| 34|25.0|      40887.0|                 3.0|17.283651290198883|          3|           NULL|        5.0|       695.0|               2.0|                2|             1|                 2|        2152.0|           1.0|                   1.0|                    1.0|               0.0|             1.0|                  2.0|
+---+----+-------------+--------------------+------------------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
only showing top 10 rows

In [64]:
missing_data = missing_df_indexed.drop("Previous Claims")
missing_data.show(5)

+---+----+-------------+--------------------+------------------+-----------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
| id| Age|Annual Income|Number of Dependents|      Health Score|Policy Type|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Premium Amount|Gender_Indexed|Marital Status_Indexed|Education Level_Indexed|Occupation_Indexed|Location_Indexed|Property Type_Indexed|
+---+----+-------------+--------------------+------------------+-----------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
| 11|23.0|      30983.0|                 3.0| 5.813128940949042|          3|        6.0|       597.0|               8.0|                3|             0|                 1|        1447.0|           0.0|                   1.0|                    0.0|               0.0|             2.0|                  1.0|
| 20|39.0|       6837.0|                 2.0|17.814458917250235|          3|        7.0|       595.0|               2.0|                3|             1|                 4|        1204.0|           0.0|                   2.0|                    3.0|               2.0|             2.0|                  2.0|
| 21|44.0|      14042.0|                 2.0| 4.551825118494738|          1|        6.0|       799.0|               5.0|                3|             1|                 3|        2670.0|           1.0|                   2.0|                    0.0|               0.0|             2.0|                  2.0|
| 22|22.0|     32745.22|                 4.0| 25.58378995160535|          2|        5.0|       773.0|               5.0|                3|             1|                 2|         202.0|           0.0|                   2.0|                    2.0|               0.0|             2.0|                  0.0|
| 24|46.0|      24708.0|                 3.0|  26.3412591810326|          3|        0.0|       543.0|               4.0|                2|             0|                 4|        1136.0|           0.0|                   0.0|                    3.0|               1.0|             2.0|                  0.0|
+---+----+-------------+--------------------+------------------+-----------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
only showing top 5 rows

In [65]:
# Step 2: Features extract koro (same as training time)
missing_data = assembler.transform(missing_data)  # Ensure same preprocessing steps

# Step 3: Prediction koro
missing_predictions = rf_model.transform(missing_data).select("prediction")

In [66]:
missing_predictions.show(10)

+----------+
|prediction|
+----------+
|       0.0|
|       0.0|
|       0.0|
|       0.0|
|       0.0|
|       0.0|
|       0.0|
|       0.0|
|       0.0|
|       0.0|
+----------+
only showing top 10 rows

In [67]:
missing_predictions.count()

364029

In [68]:
# Ensure row order is maintained by using zipWithIndex
from pyspark.sql.functions import monotonically_increasing_id

# Step 1: Add a unique index to both DataFrames
missing_data = missing_data.withColumn("row_id", monotonically_increasing_id())
missing_predictions = missing_predictions.withColumn("row_id", monotonically_increasing_id())

# Step 2: Join based on "row_id"
missing_data_with_predictions = missing_data.join(missing_predictions, on="row_id").drop("row_id")

# Check the result
missing_data_with_predictions.show(10)

+---+----+-------------+--------------------+------------------+-----------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+--------------------+----------+
| id| Age|Annual Income|Number of Dependents|      Health Score|Policy Type|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Premium Amount|Gender_Indexed|Marital Status_Indexed|Education Level_Indexed|Occupation_Indexed|Location_Indexed|Property Type_Indexed|            features|prediction|
+---+----+-------------+--------------------+------------------+-----------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+--------------------+----------+
| 21|44.0|      14042.0|                 2.0| 4.551825118494738|          1|        6.0|       799.0|               5.0|                3|             1|                 3|        2670.0|           1.0|                   2.0|                    0.0|               0.0|             2.0|                  2.0|[21.0,44.0,14042....|       0.0|
| 24|46.0|      24708.0|                 3.0|  26.3412591810326|          3|        0.0|       543.0|               4.0|                2|             0|                 4|        1136.0|           0.0|                   0.0|                    3.0|               1.0|             2.0|                  0.0|[24.0,46.0,24708....|       0.0|
| 26|49.0|      82584.0|                 0.0| 23.86738827838687|          2|       10.0|       425.0|               9.0|                2|             1|                 3|        1010.0|           1.0|                   0.0|                    1.0|               3.0|             0.0|                  2.0|[26.0,49.0,82584....|       0.0|
| 33|40.0|       1190.0|                 2.0| 47.85157218465031|          1|        0.0|       421.0|               4.0|                3|             0|                 3|        1128.0|           1.0|                   1.0|                    3.0|               1.0|             0.0|                  1.0|[33.0,40.0,1190.0...|       0.0|
| 52|33.0|      54962.0|                 0.0| 20.08451192668927|          3|        9.0|       381.0|               9.0|                2|             0|                 4|        1358.0|           0.0|                   0.0|                    0.0|               1.0|             2.0|                  0.0|[52.0,33.0,54962....|       0.0|
| 58|50.0|      35353.0|                 1.0|35.619122195892686|          3|        5.0|       359.0|               3.0|                2|             1|                 1|         745.0|           1.0|                   2.0|                    1.0|               1.0|             1.0|                  0.0|[58.0,50.0,35353....|       0.0|
| 79|27.0|        948.0|                 3.0| 37.47954132171145|          1|       16.0|       534.0|               9.0|                0|             0|                 1|         514.0|           0.0|                   1.0|                    0.0|               0.0|             0.0|                  0.0|[79.0,27.0,948.0,...|       0.0|
| 86|37.0|     32745.22|                 1.0|  13.0382686038979|          2|        6.0|       562.0|               2.0|                2|             0|                 3|          61.0|           0.0|                   1.0|                    1.0|               0.0|             1.0|                  0.0|[86.0,37.0,32745....|       0.0|
| 93|33.0|      43974.0|                 0.0| 39.05648818673042|          1|       16.0|       638.0|               5.0|                2|             1|                 3|        3227.0|           0.0|                   2.0|                    1.0|               2.0|             1.0|                  2.0|[93.0,33.0,43974....|       0.0|
| 94|21.0|      43481.0|                 3.0| 24.75443497976334|          2|       18.0|       486.0|               5.0|                0|             0|                 2|        1313.0|           1.0|                   2.0|                    0.0|               0.0|             0.0|                  2.0|[94.0,21.0,43481....|       0.0|
+---+----+-------------+--------------------+------------------+-----------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+--------------------+----------+
only showing top 10 rows

In [69]:
df = missing_data_with_predictions
df.filter(col("id") == 11).show()

+---+----+-------------+--------------------+-----------------+-----------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+--------------------+----------+
| id| Age|Annual Income|Number of Dependents|     Health Score|Policy Type|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Premium Amount|Gender_Indexed|Marital Status_Indexed|Education Level_Indexed|Occupation_Indexed|Location_Indexed|Property Type_Indexed|            features|prediction|
+---+----+-------------+--------------------+-----------------+-----------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+--------------------+----------+
| 11|23.0|      30983.0|                 3.0|5.813128940949042|          3|        6.0|       597.0|               8.0|                3|             0|                 1|        1447.0|           0.0|                   1.0|                    0.0|               0.0|             2.0|                  1.0|[11.0,23.0,30983....|       0.0|
+---+----+-------------+--------------------+-----------------+-----------+-----------+------------+------------------+-----------------+--------------+------------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+--------------------+----------+

In [70]:
from pyspark.ml.feature import StringIndexer

to_string_indxn_columns = ['Gender', 'Marital Status', 'Education Level', 
                           'Occupation','Location',  'Property Type']
new_df = df2
# both index and transfmation together
for col_name in to_string_indxn_columns:
    indexer = StringIndexer(inputCol=col_name, outputCol=col_name + "_Indexed" , handleInvalid="keep")
    new_df = indexer.fit(new_df).transform(new_df)

new_df.show(30)

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|Gender_Indexed|Marital Status_Indexed|Education Level_Indexed|Occupation_Indexed|Location_Indexed|Property Type_Indexed|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|     Self-Employed| 22.59876067181393|   Urban|          3|            2.0|       17.0|       372.0|               5.0|                1|             0|                 3|        House|        2869.0|           1.0|                   1.0|                    2.0|               2.0|             2.0|                  0.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|Unknown_Occupation|15.569730989408043|   Rural|          2|            1.0|       12.0|       694.0|               2.0|                2|             1|                 2|        House|        1483.0|           1.0|                   2.0|                    0.0|               0.0|             1.0|                  0.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|     Self-Employed| 47.17754928786464|Suburban|          3|            1.0|       14.0|      592.92|               3.0|                3|             1|                 3|        House|         567.0|           0.0|                   2.0|                    3.0|               2.0|             0.0|                  0.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|Unknown_Occupation|10.938144158664583|   Rural|          1|            1.0|        0.0|       367.0|               1.0|                1|             1|                 4|    Apartment|         765.0|           0.0|                   1.0|                    2.0|               0.0|             1.0|                  1.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|     Self-Employed|20.376093627736925|   Rural|          3|            0.0|        8.0|       598.0|               4.0|                1|             1|                 3|        House|        2022.0|           0.0|                   0.0|                    2.0|               2.0|             1.0|                  0.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|Unknown_Occupation| 33.05319768402281|   Urban|          3|            2.0|        4.0|       614.0|               5.0|                2|             0|                 3|        House|        3202.0|           0.0|                   1.0|                    2.0|               0.0|             2.0|                  0.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|Unknown_Occupation|             25.61|   Rural|          1|            2.0|        8.0|       807.0|               6.0|                1|             0|                 3|        House|         439.0|           0.0|                   1.0|                    1.0|               0.0|             1.0|                  0.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|          Employed| 5.769783092512088|Suburban|          2|            1.0|       11.0|       398.0|               5.0|                2|             0|                 1|        Condo|         111.0|           1.0|                   2.0|                    3.0|               1.0|             0.0|                  2.0|
|  8|21.0|  Male|       1733.0|      Divorced|                 3.0|     Bachelor's|Unknown_Occupation|17.869550814826297|   Urban|          3|            1.0|       10.0|       685.0|               8.0|                2|             0|                 2|        Condo|         213.0|           0.0|                   2.0|                    2.0|               0.0|             2.0|                  2.0|
|  9|44.0|  Male|      52447.0|       Married|                 2.0|       Master's|          Employed| 20.47371785695596|   Urban|          2|            1.0|        9.0|       635.0|               3.0|                1|             0|                 4|        Condo|          64.0|           0.0|                   1.0|                    0.0|               1.0|             2.0|                  2.0|
| 10|56.0|Female|       8054.0|       Married|                 1.0|     Bachelor's|        Unemployed|             25.61|   Rural|          3|            1.0|        8.0|       431.0|               8.0|                2|             0|                 2|        Condo|         857.0|           1.0|                   1.0|                    2.0|               3.0|             1.0|                  2.0|
| 11|23.0|  Male|      30983.0|        Single|                 3.0|       Master's|Unknown_Occupation| 5.813128940949042|   Urban|          3|           NULL|        6.0|       597.0|               8.0|                3|             0|                 1|        Condo|        1447.0|           0.0|                   0.0|                    0.0|               0.0|             2.0|                  2.0|
| 12|25.0|Female|      23706.0|        Single|                 4.0|       Master's|          Employed| 4.090538023921365|   Urban|          2|            2.0|       19.0|      592.92|               2.0|                1|             1|                 3|    Apartment|         703.0|           1.0|                   0.0|                    0.0|               1.0|             2.0|                  1.0|
| 13|44.0|Female|      70893.0|        Single|                 0.0|     Bachelor's|Unknown_Occupation| 55.89632239159919|Suburban|          3|            0.0|        3.0|       511.0|               6.0|                3|             1|                 3|        House|        1847.0|           1.0|                   0.0|                    2.0|               0.0|             0.0|                  0.0|
| 14|40.0|Female|      23897.0|      Divorced|                 0.0|    High School|     Self-Employed| 29.08203615642357|Suburban|          1|            2.0|       15.0|       498.0|               1.0|                3|             0|                 1|        Condo|          30.0|           1.0|                   2.0|                    3.0|               2.0|             0.0|                  2.0|
| 15|18.0|  Male|       6076.0|       Married|                 2.0|    High School|          Employed| 7.442964015746718|   Urban|          3|            1.0|       12.0|       584.0|               5.0|                3|             1|                 2|    Apartment|         849.0|           0.0|                   1.0|                    3.0|               1.0|             2.0|                  1.0|
| 16|59.0|Female|      28266.0|      Divorced|                 2.0|            PhD|        Unemployed| 21.67346054211263|   Urban|          1|            0.0|       16.0|      592.92|               3.0|                2|             1|                 3|        Condo|         183.0|           1.0|                   2.0|                    1.0|               3.0|             2.0|                  2.0|
| 17|34.0|Female|      45907.0|      Divorced|                 4.0|    High School|     Self-Employed|  24.0596387644636|Suburban|          2|            0.0|        0.0|       694.0|               8.0|                1|             1|                 4|        Condo|         643.0|           1.0|                   2.0|                    3.0|               2.0|             0.0|                  2.0|
| 18|18.0|  Male|      29071.0|       Married|                 0.0|     Bachelor's|          Employed|  20.8389765352726|   Rural|          3|            1.0|        5.0|      592.92|               3.0|                1|             1|                 1|    Apartment|         787.0|           0.0|                   1.0|                    2.0|               1.0|             1.0|                  1.0|
| 19|40.0|Female|     123751.0|        Single|                 2.0|       Master's|     Self-Employed| 24.95531647911226|Suburban|          3|            0.0|        8.0|       420.0|               2.0|                3|             1|                 1|        Condo|          40.0|           1.0|                   0.0|                    0.0|               2.0|             0.0|                  2.0|
| 20|39.0|  Male|       6837.0|      Divorced|                 2.0|    High School|     Self-Employed|17.814458917250235|   Urban|          3|           NULL|        7.0|       595.0|               2.0|                3|             1|                 4|    Apartment|        1204.0|           0.0|                   2.0|                    3.0|               2.0|             2.0|                  1.0|
| 21|44.0|Female|      14042.0|      Divorced|                 2.0|       Master's|Unknown_Occupation| 4.551825118494738|   Urban|          1|           NULL|        6.0|       799.0|               5.0|                3|             1|                 3|    Apartment|        2670.0|           1.0|                   2.0|                    0.0|               0.0|             2.0|                  1.0|
| 22|22.0|  Male|     32745.22|      Divorced|                 4.0|            PhD|Unknown_Occupation| 25.58378995160535|   Urban|          2|           NULL|        5.0|       773.0|               5.0|                3|             1|                 2|        House|         202.0|           0.0|                   2.0|                    1.0|               0.0|             2.0|                  0.0|
| 23|34.0|Female|      32762.0|      Divorced|                 1.0|     Bachelor's|Unknown_Occupation| 21.96760938053775|   Rural|          3|            0.0|       10.0|       798.0|               1.0|                2|             1|                 2|        Condo|        3869.0|           1.0|                   2.0|                    2.0|               0.0|             1.0|                  2.0|
| 24|46.0|  Male|      24708.0|       Married|                 3.0|    High School|          Employed|  26.3412591810326|   Urban|          3|           NULL|        0.0|       543.0|               4.0|                2|             0|                 4|        House|        1136.0|           0.0|                   1.0|                    3.0|               1.0|             2.0|                  0.0|
| 25|19.0|  Male|      72482.0|       Married|                 2.0|     Bachelor's|        Unemployed| 27.27941569575117|Suburban|          3|            0.0|       17.0|       416.0|               3.0|                3|             1|                 3|        Condo|         671.0|           0.0|                   1.0|                    2.0|               3.0|             0.0|                  2.0|
| 26|49.0|Female|      82584.0|       Married|                 0.0|     Bachelor's|        Unemployed| 23.86738827838687|   Rural|          2|           NULL|       10.0|       425.0|               9.0|                2|             1|                 3|    Apartment|        1010.0|           1.0|                   1.0|                    2.0|               3.0|             1.0|                  1.0|
| 27|42.0|  Male|      35123.0|       Married|                 2.0|     Bachelor's|     Self-Employed| 31.39190719557818|Suburban|          3|            0.0|        3.0|       486.0|               4.0|                3|             1|                 1|        Condo|        2680.0|           0.0|                   1.0|                    2.0|               2.0|             0.0|                  2.0|
| 28|43.0|  Male|       1060.0|       Married|                 0.0|       Master's|     Self-Employed| 41.37671628604045|Suburban|          3|            0.0|        8.0|       795.0|               7.0|                0|             1|                 1|        Condo|         699.0|           0.0|                   1.0|                    0.0|               2.0|             0.0|                  2.0|
| 29|64.0|  Male|     131038.0|        Single|                 0.0|            PhD|     Self-Employed| 20.71707646913313|   Rural|          3|           NULL|       14.0|       495.0|               1.0|                3|             1|                 2|        House|        2360.0|           0.0|                   0.0|                    1.0|               2.0|             1.0|                  0.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+--------------+----------------------+-----------------------+------------------+----------------+---------------------+
only showing top 30 rows

In [71]:
old_df = df2
old_df.show(15)

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|     Self-Employed| 22.59876067181393|   Urban|          3|            2.0|       17.0|       372.0|               5.0|                1|             0|                 3|        House|        2869.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|Unknown_Occupation|15.569730989408043|   Rural|          2|            1.0|       12.0|       694.0|               2.0|                2|             1|                 2|        House|        1483.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|     Self-Employed| 47.17754928786464|Suburban|          3|            1.0|       14.0|      592.92|               3.0|                3|             1|                 3|        House|         567.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|Unknown_Occupation|10.938144158664583|   Rural|          1|            1.0|        0.0|       367.0|               1.0|                1|             1|                 4|    Apartment|         765.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|     Self-Employed|20.376093627736925|   Rural|          3|            0.0|        8.0|       598.0|               4.0|                1|             1|                 3|        House|        2022.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|Unknown_Occupation| 33.05319768402281|   Urban|          3|            2.0|        4.0|       614.0|               5.0|                2|             0|                 3|        House|        3202.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|Unknown_Occupation|             25.61|   Rural|          1|            2.0|        8.0|       807.0|               6.0|                1|             0|                 3|        House|         439.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|          Employed| 5.769783092512088|Suburban|          2|            1.0|       11.0|       398.0|               5.0|                2|             0|                 1|        Condo|         111.0|
|  8|21.0|  Male|       1733.0|      Divorced|                 3.0|     Bachelor's|Unknown_Occupation|17.869550814826297|   Urban|          3|            1.0|       10.0|       685.0|               8.0|                2|             0|                 2|        Condo|         213.0|
|  9|44.0|  Male|      52447.0|       Married|                 2.0|       Master's|          Employed| 20.47371785695596|   Urban|          2|            1.0|        9.0|       635.0|               3.0|                1|             0|                 4|        Condo|          64.0|
| 10|56.0|Female|       8054.0|       Married|                 1.0|     Bachelor's|        Unemployed|             25.61|   Rural|          3|            1.0|        8.0|       431.0|               8.0|                2|             0|                 2|        Condo|         857.0|
| 11|23.0|  Male|      30983.0|        Single|                 3.0|       Master's|Unknown_Occupation| 5.813128940949042|   Urban|          3|           NULL|        6.0|       597.0|               8.0|                3|             0|                 1|        Condo|        1447.0|
| 12|25.0|Female|      23706.0|        Single|                 4.0|       Master's|          Employed| 4.090538023921365|   Urban|          2|            2.0|       19.0|      592.92|               2.0|                1|             1|                 3|    Apartment|         703.0|
| 13|44.0|Female|      70893.0|        Single|                 0.0|     Bachelor's|Unknown_Occupation| 55.89632239159919|Suburban|          3|            0.0|        3.0|       511.0|               6.0|                3|             1|                 3|        House|        1847.0|
| 14|40.0|Female|      23897.0|      Divorced|                 0.0|    High School|     Self-Employed| 29.08203615642357|Suburban|          1|            2.0|       15.0|       498.0|               1.0|                3|             0|                 1|        Condo|          30.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
only showing top 15 rows

In [72]:
# Step 4: Prediction results main dataframe e update koro
from pyspark.sql.functions import col, when

# Step 1: Join `old_df` with `df` (containing predictions)
joined_df = old_df.join(df.select("id", "prediction"), on="id", how="left")


updated_df = joined_df.withColumn(
    "Previous Claims",
    when(col("Previous Claims").isNull(), col("prediction"))  # Use col() instead of df["prediction"]
    .otherwise(col("Previous Claims"))
).drop("prediction")  # Drop extra "prediction" column after update

# Updated dataframe dekhte chaile
updated_df.show()

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| 12|25.0|Female|      23706.0|        Single|                 4.0|       Master's|          Employed| 4.090538023921365|   Urban|          2|            2.0|       19.0|      592.92|               2.0|                1|             1|                 3|    Apartment|         703.0|
| 13|44.0|Female|      70893.0|        Single|                 0.0|     Bachelor's|Unknown_Occupation| 55.89632239159919|Suburban|          3|            0.0|        3.0|       511.0|               6.0|                3|             1|                 3|        House|        1847.0|
| 14|40.0|Female|      23897.0|      Divorced|                 0.0|    High School|     Self-Employed| 29.08203615642357|Suburban|          1|            2.0|       15.0|       498.0|               1.0|                3|             0|                 1|        Condo|          30.0|
| 18|18.0|  Male|      29071.0|       Married|                 0.0|     Bachelor's|          Employed|  20.8389765352726|   Rural|          3|            1.0|        5.0|      592.92|               3.0|                1|             1|                 1|    Apartment|         787.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|Unknown_Occupation|             25.61|   Rural|          1|            2.0|        8.0|       807.0|               6.0|                1|             0|                 3|        House|         439.0|
|  9|44.0|  Male|      52447.0|       Married|                 2.0|       Master's|          Employed| 20.47371785695596|   Urban|          2|            1.0|        9.0|       635.0|               3.0|                1|             0|                 4|        Condo|          64.0|
| 15|18.0|  Male|       6076.0|       Married|                 2.0|    High School|          Employed| 7.442964015746718|   Urban|          3|            1.0|       12.0|       584.0|               5.0|                3|             1|                 2|    Apartment|         849.0|
| 16|59.0|Female|      28266.0|      Divorced|                 2.0|            PhD|        Unemployed| 21.67346054211263|   Urban|          1|            0.0|       16.0|      592.92|               3.0|                2|             1|                 3|        Condo|         183.0|
| 17|34.0|Female|      45907.0|      Divorced|                 4.0|    High School|     Self-Employed|  24.0596387644636|Suburban|          2|            0.0|        0.0|       694.0|               8.0|                1|             1|                 4|        Condo|         643.0|
| 19|40.0|Female|     123751.0|        Single|                 2.0|       Master's|     Self-Employed| 24.95531647911226|Suburban|          3|            0.0|        8.0|       420.0|               2.0|                3|             1|                 1|        Condo|          40.0|
| 20|39.0|  Male|       6837.0|      Divorced|                 2.0|    High School|     Self-Employed|17.814458917250235|   Urban|          3|            0.0|        7.0|       595.0|               2.0|                3|             1|                 4|    Apartment|        1204.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|     Self-Employed| 47.17754928786464|Suburban|          3|            1.0|       14.0|      592.92|               3.0|                3|             1|                 3|        House|         567.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|     Self-Employed|20.376093627736925|   Rural|          3|            0.0|        8.0|       598.0|               4.0|                1|             1|                 3|        House|        2022.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|Unknown_Occupation| 33.05319768402281|   Urban|          3|            2.0|        4.0|       614.0|               5.0|                2|             0|                 3|        House|        3202.0|
| 10|56.0|Female|       8054.0|       Married|                 1.0|     Bachelor's|        Unemployed|             25.61|   Rural|          3|            1.0|        8.0|       431.0|               8.0|                2|             0|                 2|        Condo|         857.0|
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|     Self-Employed| 22.59876067181393|   Urban|          3|            2.0|       17.0|       372.0|               5.0|                1|             0|                 3|        House|        2869.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|Unknown_Occupation|15.569730989408043|   Rural|          2|            1.0|       12.0|       694.0|               2.0|                2|             1|                 2|        House|        1483.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|Unknown_Occupation|10.938144158664583|   Rural|          1|            1.0|        0.0|       367.0|               1.0|                1|             1|                 4|    Apartment|         765.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|          Employed| 5.769783092512088|Suburban|          2|            1.0|       11.0|       398.0|               5.0|                2|             0|                 1|        Condo|         111.0|
|  8|21.0|  Male|       1733.0|      Divorced|                 3.0|     Bachelor's|Unknown_Occupation|17.869550814826297|   Urban|          3|            1.0|       10.0|       685.0|               8.0|                2|             0|                 2|        Condo|         213.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
only showing top 20 rows

In [73]:
Final_df = updated_df.orderBy(col("id"))
Final_df.show()

+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|        Occupation|      Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
|  0|19.0|Female|      10049.0|       Married|                 1.0|     Bachelor's|     Self-Employed| 22.59876067181393|   Urban|          3|            2.0|       17.0|       372.0|               5.0|                1|             0|                 3|        House|        2869.0|
|  1|39.0|Female|      31678.0|      Divorced|                 3.0|       Master's|Unknown_Occupation|15.569730989408043|   Rural|          2|            1.0|       12.0|       694.0|               2.0|                2|             1|                 2|        House|        1483.0|
|  2|23.0|  Male|      25602.0|      Divorced|                 3.0|    High School|     Self-Employed| 47.17754928786464|Suburban|          3|            1.0|       14.0|      592.92|               3.0|                3|             1|                 3|        House|         567.0|
|  3|21.0|  Male|     141855.0|       Married|                 2.0|     Bachelor's|Unknown_Occupation|10.938144158664583|   Rural|          1|            1.0|        0.0|       367.0|               1.0|                1|             1|                 4|    Apartment|         765.0|
|  4|21.0|  Male|      39651.0|        Single|                 1.0|     Bachelor's|     Self-Employed|20.376093627736925|   Rural|          3|            0.0|        8.0|       598.0|               4.0|                1|             1|                 3|        House|        2022.0|
|  5|29.0|  Male|      45963.0|       Married|                 1.0|     Bachelor's|Unknown_Occupation| 33.05319768402281|   Urban|          3|            2.0|        4.0|       614.0|               5.0|                2|             0|                 3|        House|        3202.0|
|  6|41.0|  Male|      40336.0|       Married|                 0.0|            PhD|Unknown_Occupation|             25.61|   Rural|          1|            2.0|        8.0|       807.0|               6.0|                1|             0|                 3|        House|         439.0|
|  7|48.0|Female|     127237.0|      Divorced|                 2.0|    High School|          Employed| 5.769783092512088|Suburban|          2|            1.0|       11.0|       398.0|               5.0|                2|             0|                 1|        Condo|         111.0|
|  8|21.0|  Male|       1733.0|      Divorced|                 3.0|     Bachelor's|Unknown_Occupation|17.869550814826297|   Urban|          3|            1.0|       10.0|       685.0|               8.0|                2|             0|                 2|        Condo|         213.0|
|  9|44.0|  Male|      52447.0|       Married|                 2.0|       Master's|          Employed| 20.47371785695596|   Urban|          2|            1.0|        9.0|       635.0|               3.0|                1|             0|                 4|        Condo|          64.0|
| 10|56.0|Female|       8054.0|       Married|                 1.0|     Bachelor's|        Unemployed|             25.61|   Rural|          3|            1.0|        8.0|       431.0|               8.0|                2|             0|                 2|        Condo|         857.0|
| 11|23.0|  Male|      30983.0|        Single|                 3.0|       Master's|Unknown_Occupation| 5.813128940949042|   Urban|          3|            0.0|        6.0|       597.0|               8.0|                3|             0|                 1|        Condo|        1447.0|
| 12|25.0|Female|      23706.0|        Single|                 4.0|       Master's|          Employed| 4.090538023921365|   Urban|          2|            2.0|       19.0|      592.92|               2.0|                1|             1|                 3|    Apartment|         703.0|
| 13|44.0|Female|      70893.0|        Single|                 0.0|     Bachelor's|Unknown_Occupation| 55.89632239159919|Suburban|          3|            0.0|        3.0|       511.0|               6.0|                3|             1|                 3|        House|        1847.0|
| 14|40.0|Female|      23897.0|      Divorced|                 0.0|    High School|     Self-Employed| 29.08203615642357|Suburban|          1|            2.0|       15.0|       498.0|               1.0|                3|             0|                 1|        Condo|          30.0|
| 15|18.0|  Male|       6076.0|       Married|                 2.0|    High School|          Employed| 7.442964015746718|   Urban|          3|            1.0|       12.0|       584.0|               5.0|                3|             1|                 2|    Apartment|         849.0|
| 16|59.0|Female|      28266.0|      Divorced|                 2.0|            PhD|        Unemployed| 21.67346054211263|   Urban|          1|            0.0|       16.0|      592.92|               3.0|                2|             1|                 3|        Condo|         183.0|
| 17|34.0|Female|      45907.0|      Divorced|                 4.0|    High School|     Self-Employed|  24.0596387644636|Suburban|          2|            0.0|        0.0|       694.0|               8.0|                1|             1|                 4|        Condo|         643.0|
| 18|18.0|  Male|      29071.0|       Married|                 0.0|     Bachelor's|          Employed|  20.8389765352726|   Rural|          3|            1.0|        5.0|      592.92|               3.0|                1|             1|                 1|    Apartment|         787.0|
| 19|40.0|Female|     123751.0|        Single|                 2.0|       Master's|     Self-Employed| 24.95531647911226|Suburban|          3|            0.0|        8.0|       420.0|               2.0|                3|             1|                 1|        Condo|          40.0|
+---+----+------+-------------+--------------+--------------------+---------------+------------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
only showing top 20 rows

In [74]:
Final_df.filter(col("id") == 20).show()

+---+----+------+-------------+--------------+--------------------+---------------+-------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| id| Age|Gender|Annual Income|Marital Status|Number of Dependents|Education Level|   Occupation|      Health Score|Location|Policy Type|Previous Claims|Vehicle Age|Credit Score|Insurance Duration|Customer Feedback|Smoking Status|Exercise Frequency|Property Type|Premium Amount|
+---+----+------+-------------+--------------+--------------------+---------------+-------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+
| 20|39.0|  Male|       6837.0|      Divorced|                 2.0|    High School|Self-Employed|17.814458917250235|   Urban|          3|            0.0|        7.0|       595.0|               2.0|                3|             1|                 4|    Apartment|        1204.0|
+---+----+------+-------------+--------------+--------------------+---------------+-------------+------------------+--------+-----------+---------------+-----------+------------+------------------+-----------------+--------------+------------------+-------------+--------------+

In [75]:
Final_df.count()

1200000

In [76]:
pdf = Final_df.toPandas()
pdf.to_csv("output.csv", index=False)

# Final model

In [ ]:
#string indexer
from pyspark.ml.feature import StringIndexer

to_string_indxn_columns = ['Gender', 'Marital Status', 'Education Level', 'Occupation',
                       'Location', 'Policy Type', 'Customer Feedback', 
                       'Exercise Frequency', 'Property Type']

# # index
# indexers = [
#     StringIndexer(inputCol=col, outputCol=f"{col}_indexed").fit(df2)
#     for col in to_string_indxn_columns
# ]

# # transform
# df2 = indexers.transform(df2)


# both index and transfmation together
for col_name in to_string_indxn_columns:
    indexer = StringIndexer(inputCol=col_name, outputCol=col_name + "_Index" , handleInvalid="keep")
    df2 = indexer.fit(df2).transform(df2)

df2.show(10)

In [ ]:
df2.show(10)

In [ ]:
df_indexed = df2.drop(*to_string_indxn_columns)

In [ ]:
df_indexed.show(10)